In [46]:
import pandas as pd
import numpy as np

### Upload Data

In [47]:
contacts = pd.read_csv('contacts.csv')

In [48]:
contacts.describe()

           m_guests  m_interactions  m_first_message_length_in_characters
count  27886.000000    27887.000000                          27887.000000
mean       2.782041        8.255818                            193.712626
std        1.863797       10.035784                            183.172132
min        0.000000        1.000000                              0.000000
25%        2.000000        3.000000                             66.000000
50%        2.000000        5.000000                            154.000000
75%        4.000000       10.000000                            269.000000
max       16.000000      410.000000                           2341.000000

In [294]:
contacts.head()

,id_guest_anon,id_host_anon,id_listing_anon,ts_interaction_first,ts_reply_at_first,ts_accepted_at_first,ts_booking_at,ds_checkin_first,ds_checkout_first,m_guests,m_interactions,m_first_message_length_in_characters,contact_channel_first,guest_user_stage_first
0,da8656a1-51af-4f38-b1c4-94be1f585157,5426897d-960d-4013-9e38-606ae746793c,a408a8b2-0d44-4513-a611-3736d0409bb2,2016-04-21 02:55:53,2016-04-21 03:15:00.0,2016-04-21 03:15:00.0,2016-04-21 03:15:00.0,2016-08-02,2016-08-06,4.0,30,31.0,book_it,past_booker
1,8590d6f1-8bc9-4e8b-bdfb-de78f69fcf37,f30417c5-6df4-45ac-bfc2-6ad1cce398ab,e387c705-0aeb-464c-9375-ece63be6f006,2016-02-16 22:14:01,2016-02-16 23:37:36.0,NaN,NaN,2016-08-11,2016-08-22,5.0,2,312.0,contact_me,past_booker
2,ebcd83ba-bda1-47eb-9680-2dd04ccf3988,13cbf50a-3272-45d4-9866-a06b6ea1b99a,d1eb1960-938f-4305-a353-51e224414dd4,2016-01-27 23:33:38,2016-01-28 02:12:47.0,NaN,NaN,2016-03-14,2016-03-23,1.0,3,164.0,contact_me,new
3,b0af8848-fe2a-4ef1-991e-26ab3066feb3,01614601-d5a4-4776-ab9b-c10d3b865bf0,855f6779-346c-45fc-a64b-ea133250ca7a,2016-05-05 14:42:52,2016-05-05 15:17:40.0,2016-05-05 15:17:40.0,NaN,2016-05-27,2016-05-29,2.0,3,203.0,contact_me,new
4,5ddbbcc3-ac1a-4d8a-b6f8-0f675b76d1b2,f2fed6f3-4c5c-453d-9e64-37c62b8bd06d,f2928a59-c5e7-42b2-9c37-240a40f38dc0,2016-06-23 03:09:25.0,2016-06-23 03:09:26.0,2016-06-23 03:09:33.0,2016-06-23 03:09:33.0,2016-08-19,2016-08-21,3.0,25,0.0,instant_book,past_booker

In [50]:
listings = pd.read_csv('listings.csv')

In [51]:
# -34 in the number of reviews (that is an error)
listings.describe()

       total_reviews
count   13038.000000
mean        7.004525
std        17.059747
min       -34.000000
25%         0.000000
50%         1.000000
75%         5.000000
max       268.000000

In [295]:
listings.head()

,id_listing_anon,room_type,listing_neighborhood,total_reviews
0,71582793-e5f8-46d7-afdf-7a31d2341c79,Private room,-unknown-,0.0
1,a1a3f728-e21f-4432-96aa-361d28e2b319,Entire home/apt,Copacabana,0.0
2,353a68be-ecf9-4b7b-9533-c882dc2f0760,Entire home/apt,Barra da Tijuca,3.0
3,b9ae1908-0486-40ac-bbcf-bd63ffebfe63,Entire home/apt,Lapa,4.0
4,fa0290ef-7881-4482-8981-8ebb1ce5dbfd,Entire home/apt,-unknown-,0.0

In [53]:
users = pd.read_csv('users.csv')

In [54]:
users.describe()

       words_in_user_profile
count           31525.000000
mean               16.222141
std                44.391491
min                 0.000000
25%                 0.000000
50%                 0.000000
75%                12.000000
max              1460.000000

In [296]:
users.head()

                           id_user_anon country  words_in_user_profile
0  1d16a001-31a2-494c-a101-1f7b308adc62      FR                      0
1  42607e0a-86c0-472e-b633-9e192114e93c      AR                      0
2  25f85eb5-a700-44e1-b142-4c076222198d      BR                      0
3  55abeba0-18ef-4c58-80f4-3c278b706aca      BR                      1
4  5d62d35a-7d6d-45dd-ae9b-a5d2f82a7d7b      BR                     98

### Clean Transform Data

#### Check For Missing Data

#### Contacts

In [56]:
total = contacts.isnull().sum().sort_values(ascending = False)
percent = (contacts.isnull().sum()/contacts.isnull().count()*100).sort_values(ascending = False)
missing_contacts  = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_contacts.head(20)

                                      Total    Percent
ts_booking_at                         16300  58.450174
ts_accepted_at_first                  11472  41.137448
ts_reply_at_first                      2032   7.286549
m_guests                                  1   0.003586
guest_user_stage_first                    0   0.000000
contact_channel_first                     0   0.000000
m_first_message_length_in_characters      0   0.000000
m_interactions                            0   0.000000
ds_checkout_first                         0   0.000000
ds_checkin_first                          0   0.000000
ts_interaction_first                      0   0.000000
id_listing_anon                           0   0.000000
id_host_anon                              0   0.000000
id_guest_anon                             0   0.000000

In [57]:
contacts[contacts['m_guests'].isnull()]

,id_guest_anon,id_host_anon,id_listing_anon,ts_interaction_first,ts_reply_at_first,ts_accepted_at_first,ts_booking_at,ds_checkin_first,ds_checkout_first,m_guests,m_interactions,m_first_message_length_in_characters,contact_channel_first,guest_user_stage_first
24738,abc1b137-28b0-4337-a93c-ed77c16f49d8,1a260779-97eb-4c3f-a020-c09a094033a4,f4ada617-3298-4c78-97ee-104edd981e09,2016-01-11 12:08:54,2016-01-12 17:48:59.0,NaN,NaN,2016-01-22,2016-01-25,NaN,3,134.0,contact_me,past_booker

In [58]:
# Check if the guest had any recent bookings to estimate the m_guests (nope)
contacts[contacts['id_guest_anon'] == 'abc1b137-28b0-4337-a93c-ed77c16f49d8']

,id_guest_anon,id_host_anon,id_listing_anon,ts_interaction_first,ts_reply_at_first,ts_accepted_at_first,ts_booking_at,ds_checkin_first,ds_checkout_first,m_guests,m_interactions,m_first_message_length_in_characters,contact_channel_first,guest_user_stage_first
24738,abc1b137-28b0-4337-a93c-ed77c16f49d8,1a260779-97eb-4c3f-a020-c09a094033a4,f4ada617-3298-4c78-97ee-104edd981e09,2016-01-11 12:08:54,2016-01-12 17:48:59.0,NaN,NaN,2016-01-22,2016-01-25,NaN,3,134.0,contact_me,past_booker

In [59]:
# The rest of the 'NULLs' just did not have a reply or accept

#### Listings

In [60]:
# Clean
total = listings.isnull().sum().sort_values(ascending = False)
percent = (listings.isnull().sum()/listings.isnull().count()*100).sort_values(ascending = False)
missing_listings = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_listings.head(20)

                      Total  Percent
total_reviews             0      0.0
listing_neighborhood      0      0.0
room_type                 0      0.0
id_listing_anon           0      0.0

#### Users

In [61]:
total = users.isnull().sum().sort_values(ascending = False)
percent = (users.isnull().sum()/users.isnull().count()*100).sort_values(ascending = False)
missing_users = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_users.head(20)

                       Total   Percent
country                    1  0.003172
words_in_user_profile      0  0.000000
id_user_anon               0  0.000000

In [62]:
users[users['country'].isnull()]

                               id_user_anon country  words_in_user_profile
18866  e0e03982-682e-4a58-a3f7-9f393e4875d6     NaN                      0

In [63]:
# Check if this user is in the data set (that is the only user with no country)
users[users['id_user_anon'] == 'e0e03982-682e-4a58-a3f7-9f393e4875d6']

                               id_user_anon country  words_in_user_profile
18866  e0e03982-682e-4a58-a3f7-9f393e4875d6     NaN                      0

#### Merge all 3 files together

In [64]:
contacts_users = pd.merge(contacts, users, left_on='id_guest_anon', right_on='id_user_anon', how='left', suffixes=('', '_y') )

In [110]:
# contacts_users.head()

In [66]:
contacts_all = pd.merge(contacts_users, listings, left_on='id_listing_anon', right_on='id_listing_anon', how='left', suffixes=('', '_y') )

In [297]:
contacts_all.head()

,id_guest_anon,id_host_anon,id_listing_anon,ts_interaction_first,ts_reply_at_first,ts_accepted_at_first,ts_booking_at,ds_checkin_first,ds_checkout_first,m_guests,...,room_type,listing_neighborhood,total_reviews,total_reviews_pos,book_flag,book_2_check_in_days,interact_2_check_in_days,stay_duration_days,interact_2_reply_days,interact_2_book_in_days
0,da8656a1-51af-4f38-b1c4-94be1f585157,5426897d-960d-4013-9e38-606ae746793c,a408a8b2-0d44-4513-a611-3736d0409bb2,2016-04-21 02:55:53,2016-04-21 03:15:00.0,2016-04-21 03:15:00.0,2016-04-21 03:15:00.0,2016-08-02,2016-08-06,4.0,...,Entire home/apt,Copacabana,9.0,9.0,1,103.0,103,4,0.0,0.0
1,8590d6f1-8bc9-4e8b-bdfb-de78f69fcf37,f30417c5-6df4-45ac-bfc2-6ad1cce398ab,e387c705-0aeb-464c-9375-ece63be6f006,2016-02-16 22:14:01,2016-02-16 23:37:36.0,NaN,NaN,2016-08-11,2016-08-22,5.0,...,Entire home/apt,Copacabana,0.0,0.0,0,NaN,177,11,0.0,NaN
2,ebcd83ba-bda1-47eb-9680-2dd04ccf3988,13cbf50a-3272-45d4-9866-a06b6ea1b99a,d1eb1960-938f-4305-a353-51e224414dd4,2016-01-27 23:33:38,2016-01-28 02:12:47.0,NaN,NaN,2016-03-14,2016-03-23,1.0,...,Private room,Vidigal,49.0,49.0,0,NaN,47,9,1.0,NaN
3,b0af8848-fe2a-4ef1-991e-26ab3066feb3,01614601-d5a4-4776-ab9b-c10d3b865bf0,855f6779-346c-45fc-a64b-ea133250ca7a,2016-05-05 14:42:52,2016-05-05 15:17:40.0,2016-05-05 15:17:40.0,NaN,2016-05-27,2016-05-29,2.0,...,Entire home/apt,Copacabana,17.0,17.0,0,NaN,22,2,0.0,NaN
4,5ddbbcc3-ac1a-4d8a-b6f8-0f675b76d1b2,f2fed6f3-4c5c-453d-9e64-37c62b8bd06d,f2928a59-c5e7-42b2-9c37-240a40f38dc0,2016-06-23 03:09:25.0,2016-06-23 03:09:26.0,2016-06-23 03:09:33.0,2016-06-23 03:09:33.0,2016-08-19,2016-08-21,3.0,...,Entire home/apt,Ipanema,1.0,1.0,1,57.0,57,2,0.0,0.0

In [68]:
contacts_all.describe()

,m_guests,m_interactions,m_first_message_length_in_characters,words_in_user_profile,total_reviews
count,27978.000000,27979.000000,27979.000000,27979.000000,27979.000000
mean,2.782436,8.247686,193.743879,10.202402,15.639944
std,1.866441,10.025091,183.169421,30.846777,27.728108
min,0.000000,1.000000,0.000000,0.000000,-34.000000
25%,2.000000,3.000000,66.000000,0.000000,0.000000
50%,2.000000,5.000000,154.000000,0.000000,3.000000
75%,4.000000,10.000000,269.000000,1.000000,18.000000
max,16.000000,410.000000,2341.000000,658.000000,268.000000

In [298]:
# Lets handle that -34 reviews 
contacts_all[contacts_all['total_reviews'] < 0].head()

,id_guest_anon,id_host_anon,id_listing_anon,ts_interaction_first,ts_reply_at_first,ts_accepted_at_first,ts_booking_at,ds_checkin_first,ds_checkout_first,m_guests,...,room_type,listing_neighborhood,total_reviews,total_reviews_pos,book_flag,book_2_check_in_days,interact_2_check_in_days,stay_duration_days,interact_2_reply_days,interact_2_book_in_days
1282,8092c7ee-1bdc-4587-8aab-71268b6c6d1d,6c319423-9406-407d-a662-973862ee1e7c,46ed561a-497c-4de8-b120-47f42ffc9159,2016-03-20 16:56:24,2016-03-21 15:41:45.0,NaN,NaN,2016-03-24,2016-03-27,1.0,...,Entire home/apt,Copacabana,-24.0,24.0,0,NaN,4,3,1.0,NaN
1635,b804353a-1862-4eb4-b426-4b7ecd941859,9e85e799-4285-4848-8c2a-0872858aba75,b2a45ced-8c99-41b0-95a1-f23b993cdc87,2016-04-19 17:14:09,2016-04-19 18:23:02.0,2016-04-19 18:55:24.0,2016-04-19 18:55:24.0,2016-04-20,2016-04-24,3.0,...,Entire home/apt,Barra da Tijuca,-26.0,26.0,1,1.0,1,4,0.0,0.0
1851,03384592-dc7b-43f6-aee0-7ffbf92f19e4,1fb3add2-d916-48c1-b114-393aeef46506,e6d2e0c5-b17a-45f1-b99f-7d086675f20f,2016-02-20 14:22:52,2016-02-20 17:53:07.0,NaN,NaN,2016-03-20,2016-03-22,2.0,...,Entire home/apt,-unknown-,-32.0,32.0,0,NaN,29,2,0.0,NaN
1894,5d5d588e-81d8-41af-9072-907f774f265d,68d7e58c-9bda-4819-b624-cf48c1648c88,e14660b7-40df-424c-891e-9dc03c926fe1,2016-06-14 18:17:11,2016-06-14 18:37:09.0,2016-06-14 18:40:33.0,NaN,2016-07-22,2016-07-24,4.0,...,Private room,Flamengo,-25.0,25.0,0,NaN,38,2,0.0,NaN
2173,82e1cd52-468f-4e9d-84b4-38e2c24ec430,be380032-86df-4f5c-a9fb-ffb598c66d73,4fcd4f1c-5886-4b48-b3b5-6fa5425584b2,2016-01-22 19:57:10,2016-01-23 02:52:14.0,NaN,NaN,2016-08-19,2016-08-22,3.0,...,Entire home/apt,-unknown-,-17.0,17.0,0,NaN,210,3,1.0,NaN

In [70]:
#There is an issue of reviews for the listing that are negative. I will turn them into positive for now. 
# Might change it to zero later. 
# Normally, I would just look at actuall number of reviews in the listings (which would tell me if the number should be positive, zero, or something else)
contacts_all[contacts_all['id_listing_anon'] == '46ed561a-497c-4de8-b120-47f42ffc9159']

,id_guest_anon,id_host_anon,id_listing_anon,ts_interaction_first,ts_reply_at_first,ts_accepted_at_first,ts_booking_at,ds_checkin_first,ds_checkout_first,m_guests,m_interactions,m_first_message_length_in_characters,contact_channel_first,guest_user_stage_first,id_user_anon,country,words_in_user_profile,room_type,listing_neighborhood,total_reviews
1282,8092c7ee-1bdc-4587-8aab-71268b6c6d1d,6c319423-9406-407d-a662-973862ee1e7c,46ed561a-497c-4de8-b120-47f42ffc9159,2016-03-20 16:56:24,2016-03-21 15:41:45.0,NaN,NaN,2016-03-24,2016-03-27,1.0,3,260.0,book_it,past_booker,8092c7ee-1bdc-4587-8aab-71268b6c6d1d,US,0,Entire home/apt,Copacabana,-24.0

In [71]:
# Turning it positive
contacts_all['total_reviews_pos'] = contacts_all['total_reviews'].abs()

In [72]:
#Mean and standard deviation barely moved
contacts_all.describe()

,m_guests,m_interactions,m_first_message_length_in_characters,words_in_user_profile,total_reviews,total_reviews_pos
count,27978.000000,27979.000000,27979.000000,27979.000000,27979.000000,27979.000000
mean,2.782436,8.247686,193.743879,10.202402,15.639944,15.762822
std,1.866441,10.025091,183.169421,30.846777,27.728108,27.658437
min,0.000000,1.000000,0.000000,0.000000,-34.000000,0.000000
25%,2.000000,3.000000,66.000000,0.000000,0.000000,0.000000
50%,2.000000,5.000000,154.000000,0.000000,3.000000,3.000000
75%,4.000000,10.000000,269.000000,1.000000,18.000000,18.000000
max,16.000000,410.000000,2341.000000,658.000000,268.000000,268.000000

In [73]:
# Add a booking flag 
contacts_all['book_flag'] = np.where(contacts_all['ts_booking_at'].isnull(), 0, 1)

In [74]:
contacts_all.describe()

,m_guests,m_interactions,m_first_message_length_in_characters,words_in_user_profile,total_reviews,total_reviews_pos,book_flag
count,27978.000000,27979.000000,27979.000000,27979.000000,27979.000000,27979.000000,27979.000000
mean,2.782436,8.247686,193.743879,10.202402,15.639944,15.762822,0.414883
std,1.866441,10.025091,183.169421,30.846777,27.728108,27.658437,0.492711
min,0.000000,1.000000,0.000000,0.000000,-34.000000,0.000000,0.000000
25%,2.000000,3.000000,66.000000,0.000000,0.000000,0.000000,0.000000
50%,2.000000,5.000000,154.000000,0.000000,3.000000,3.000000,0.000000
75%,4.000000,10.000000,269.000000,1.000000,18.000000,18.000000,1.000000
max,16.000000,410.000000,2341.000000,658.000000,268.000000,268.000000,1.000000

In [75]:
import datetime as dt

In [76]:
contacts_all['book_2_check_in_days'] = (pd.to_datetime(contacts_all['ds_checkin_first']).dt.date - pd.to_datetime(contacts_all['ts_booking_at']).dt.date).dt.days
contacts_all['interact_2_check_in_days'] = (pd.to_datetime(contacts_all['ds_checkin_first']).dt.date - pd.to_datetime(contacts_all['ts_interaction_first']).dt.date).dt.days

In [77]:
contacts_all['stay_duration_days'] = (pd.to_datetime(contacts_all['ds_checkout_first']) - pd.to_datetime(contacts_all['ds_checkin_first'])).dt.days
contacts_all['interact_2_reply_days'] = (pd.to_datetime(contacts_all['ts_reply_at_first']).dt.date - pd.to_datetime(contacts_all['ts_interaction_first']).dt.date).dt.days

In [229]:
contacts_all['interact_2_book_in_days'] = (pd.to_datetime(contacts_all['ts_booking_at']).dt.date - pd.to_datetime(contacts_all['ts_interaction_first']).dt.date).dt.days

In [230]:
# contacts_all[contacts_all['book_2_check_in_days'] < 0]

In [231]:
contacts_all.head()

,id_guest_anon,id_host_anon,id_listing_anon,ts_interaction_first,ts_reply_at_first,ts_accepted_at_first,ts_booking_at,ds_checkin_first,ds_checkout_first,m_guests,...,room_type,listing_neighborhood,total_reviews,total_reviews_pos,book_flag,book_2_check_in_days,interact_2_check_in_days,stay_duration_days,interact_2_reply_days,interact_2_book_in_days
0,da8656a1-51af-4f38-b1c4-94be1f585157,5426897d-960d-4013-9e38-606ae746793c,a408a8b2-0d44-4513-a611-3736d0409bb2,2016-04-21 02:55:53,2016-04-21 03:15:00.0,2016-04-21 03:15:00.0,2016-04-21 03:15:00.0,2016-08-02,2016-08-06,4.0,...,Entire home/apt,Copacabana,9.0,9.0,1,103.0,103,4,0.0,0.0
1,8590d6f1-8bc9-4e8b-bdfb-de78f69fcf37,f30417c5-6df4-45ac-bfc2-6ad1cce398ab,e387c705-0aeb-464c-9375-ece63be6f006,2016-02-16 22:14:01,2016-02-16 23:37:36.0,NaN,NaN,2016-08-11,2016-08-22,5.0,...,Entire home/apt,Copacabana,0.0,0.0,0,NaN,177,11,0.0,NaN
2,ebcd83ba-bda1-47eb-9680-2dd04ccf3988,13cbf50a-3272-45d4-9866-a06b6ea1b99a,d1eb1960-938f-4305-a353-51e224414dd4,2016-01-27 23:33:38,2016-01-28 02:12:47.0,NaN,NaN,2016-03-14,2016-03-23,1.0,...,Private room,Vidigal,49.0,49.0,0,NaN,47,9,1.0,NaN
3,b0af8848-fe2a-4ef1-991e-26ab3066feb3,01614601-d5a4-4776-ab9b-c10d3b865bf0,855f6779-346c-45fc-a64b-ea133250ca7a,2016-05-05 14:42:52,2016-05-05 15:17:40.0,2016-05-05 15:17:40.0,NaN,2016-05-27,2016-05-29,2.0,...,Entire home/apt,Copacabana,17.0,17.0,0,NaN,22,2,0.0,NaN
4,5ddbbcc3-ac1a-4d8a-b6f8-0f675b76d1b2,f2fed6f3-4c5c-453d-9e64-37c62b8bd06d,f2928a59-c5e7-42b2-9c37-240a40f38dc0,2016-06-23 03:09:25.0,2016-06-23 03:09:26.0,2016-06-23 03:09:33.0,2016-06-23 03:09:33.0,2016-08-19,2016-08-21,3.0,...,Entire home/apt,Ipanema,1.0,1.0,1,57.0,57,2,0.0,0.0

In [232]:
contacts_all.describe()

,m_guests,m_interactions,m_first_message_length_in_characters,words_in_user_profile,total_reviews,total_reviews_pos,book_flag,book_2_check_in_days,interact_2_check_in_days,stay_duration_days,interact_2_reply_days,interact_2_book_in_days
count,27978.000000,27979.000000,27979.000000,27979.000000,27979.000000,27979.000000,27979.000000,11608.000000,27979.000000,27979.000000,25935.000000,11608.000000
mean,2.782436,8.247686,193.743879,10.202402,15.639944,15.762822,0.414883,52.217867,70.010293,7.554023,0.613418,0.533253
std,1.866441,10.025091,183.169421,30.846777,27.728108,27.658437,0.492711,62.160561,72.958897,14.304758,5.871271,4.618197
min,0.000000,1.000000,0.000000,0.000000,-34.000000,0.000000,0.000000,-173.000000,-94.000000,1.000000,0.000000,0.000000
25%,2.000000,3.000000,66.000000,0.000000,0.000000,0.000000,0.000000,7.000000,13.000000,3.000000,0.000000,0.000000
50%,2.000000,5.000000,154.000000,0.000000,3.000000,3.000000,0.000000,28.000000,40.000000,4.000000,0.000000,0.000000
75%,4.000000,10.000000,269.000000,1.000000,18.000000,18.000000,1.000000,74.250000,111.000000,8.000000,0.000000,0.000000
max,16.000000,410.000000,2341.000000,658.000000,268.000000,268.000000,1.000000,379.000000,804.000000,365.000000,410.000000,217.000000

In [233]:
contacts_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27979 entries, 0 to 27978
Data columns (total 27 columns):
id_guest_anon                           27979 non-null object
id_host_anon                            27979 non-null object
id_listing_anon                         27979 non-null object
ts_interaction_first                    27979 non-null object
ts_reply_at_first                       25935 non-null object
ts_accepted_at_first                    16454 non-null object
ts_booking_at                           11608 non-null object
ds_checkin_first                        27979 non-null object
ds_checkout_first                       27979 non-null object
m_guests                                27978 non-null float64
m_interactions                          27979 non-null int64
m_first_message_length_in_characters    27979 non-null float64
contact_channel_first                   27979 non-null object
guest_user_stage_first                  27979 non-null object
id_user_anon                            27979 non-null object
country                                 27978 non-null object
words_in_user_profile                   27979 non-null int64
room_type                               27979 non-null object
listing_neighborhood                    27979 non-null object
total_reviews                           27979 non-null float64
total_reviews_pos                       27979 non-null float64
book_flag                               27979 non-null int32
book_2_check_in_days                    11608 non-null float64
interact_2_check_in_days                27979 non-null int64
stay_duration_days                      27979 non-null int64
interact_2_reply_days                   25935 non-null float64
interact_2_book_in_days                 11608 non-null float64
dtypes: float64(7), int32(1), int64(4), object(15)
memory usage: 7.1+ MB

In [241]:
# Negative book2_check_in (they booked after they arrived) (40 count)
# For the purpose of this excercise, I will remove these, however, I would look into potential bad SQL or fraud
# contacts_all[(contacts_all['book_2_check_in_days'] < 0) ].count()

In [235]:
# Dropped the negative values but kept the nulls
contacts_all_v2 = contacts_all[((contacts_all['book_2_check_in_days'] >= 0) | (contacts_all['book_2_check_in_days'].isnull())) & (contacts_all['m_guests'] >0)]

In [236]:
contacts_all_v2.describe()

,m_guests,m_interactions,m_first_message_length_in_characters,words_in_user_profile,total_reviews,total_reviews_pos,book_flag,book_2_check_in_days,interact_2_check_in_days,stay_duration_days,interact_2_reply_days,interact_2_book_in_days
count,27934.000000,27934.000000,27934.000000,27934.000000,27934.000000,27934.000000,27934.000000,11566.000000,27934.000000,27934.000000,25890.000000,11566.000000
mean,2.784206,8.233264,193.844133,10.198718,15.624615,15.747691,0.414047,52.451323,70.100881,7.559032,0.605369,0.452879
std,1.866784,10.006696,183.208540,30.846307,27.709862,27.640100,0.492566,62.116683,72.967673,14.314452,5.766502,3.401455
min,1.000000,1.000000,0.000000,0.000000,-34.000000,0.000000,0.000000,0.000000,-94.000000,1.000000,0.000000,0.000000
25%,2.000000,3.000000,66.000000,0.000000,0.000000,0.000000,0.000000,7.000000,13.000000,3.000000,0.000000,0.000000
50%,2.000000,5.000000,154.000000,0.000000,3.000000,3.000000,0.000000,28.000000,40.000000,4.000000,0.000000,0.000000
75%,4.000000,10.000000,269.000000,1.000000,18.000000,18.000000,1.000000,75.000000,111.000000,8.000000,0.000000,0.000000
max,16.000000,410.000000,2341.000000,658.000000,268.000000,268.000000,1.000000,379.000000,804.000000,365.000000,410.000000,217.000000

In [237]:
#Quick Check
contacts_all_v2[contacts_all_v2['book_2_check_in_days'] < 0]

Empty DataFrame
Columns: [id_guest_anon, id_host_anon, id_listing_anon, ts_interaction_first, ts_reply_at_first, ts_accepted_at_first, ts_booking_at, ds_checkin_first, ds_checkout_first, m_guests, m_interactions, m_first_message_length_in_characters, contact_channel_first, guest_user_stage_first, id_user_anon, country, words_in_user_profile, room_type, listing_neighborhood, total_reviews, total_reviews_pos, book_flag, book_2_check_in_days, interact_2_check_in_days, stay_duration_days, interact_2_reply_days, interact_2_book_in_days]
Index: []

[0 rows x 27 columns]

In [239]:
# Location Unknown Flag country
contacts_all_v2['location_unknown_flag'] = np.where(contacts_all_v2['ts_booking_at'].isnull(), 0, 1)
contacts_all_v2['br_country_flag'] = np.where(contacts_all_v2['country'] == 'BR', 1, 0)
contacts_all_v2['location_unknown_flag'] = np.where(contacts_all_v2['listing_neighborhood'] == '-unknown-', 1, 0)
contacts_all_v2['br_country_flag'] = np.where(contacts_all_v2['country'] == 'BR', 1, 0)
contacts_all_v2['room_apt_flag'] = np.where(contacts_all_v2['room_type'] == 'Entire home/apt', 1, 0)
contacts_all_v2['room_private_flag'] = np.where(contacts_all_v2['room_type'] == 'Private room', 1, 0)
contacts_all_v2['room_shared_flag'] = np.where(contacts_all_v2['room_type'] == 'Shared room', 1, 0)
contacts_all_v2['new_user_flag'] = np.where(contacts_all_v2['guest_user_stage_first'] == 'new', 1, 0)
contacts_all_v2['contact_me_flag'] = np.where(contacts_all_v2['contact_channel_first'] == 'contact_me', 1, 0)

C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [243]:
contacts_all_v2.describe()

,m_guests,m_interactions,m_first_message_length_in_characters,words_in_user_profile,total_reviews,total_reviews_pos,book_flag,book_2_check_in_days,interact_2_check_in_days,stay_duration_days,interact_2_reply_days,interact_2_book_in_days,location_unknown_flag,br_country_flag,room_apt_flag,room_private_flag,room_shared_flag,new_user_flag,contact_me_flag
count,27934.000000,27934.000000,27934.000000,27934.000000,27934.000000,27934.000000,27934.000000,11566.000000,27934.000000,27934.000000,25890.000000,11566.000000,27934.000000,27934.000000,27934.000000,27934.000000,27934.000000,27934.000000,27934.000000
mean,2.784206,8.233264,193.844133,10.198718,15.624615,15.747691,0.414047,52.451323,70.100881,7.559032,0.605369,0.452879,0.424250,0.489833,0.752953,0.225961,0.021085,0.570416,0.460836
std,1.866784,10.006696,183.208540,30.846307,27.709862,27.640100,0.492566,62.116683,72.967673,14.314452,5.766502,3.401455,0.494237,0.499906,0.431302,0.418221,0.143672,0.495026,0.498473
min,1.000000,1.000000,0.000000,0.000000,-34.000000,0.000000,0.000000,0.000000,-94.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,3.000000,66.000000,0.000000,0.000000,0.000000,0.000000,7.000000,13.000000,3.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,2.000000,5.000000,154.000000,0.000000,3.000000,3.000000,0.000000,28.000000,40.000000,4.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,4.000000,10.000000,269.000000,1.000000,18.000000,18.000000,1.000000,75.000000,111.000000,8.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,16.000000,410.000000,2341.000000,658.000000,268.000000,268.000000,1.000000,379.000000,804.000000,365.000000,410.000000,217.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### Quick Save to CSV

In [244]:
# Quick Save: 
contacts_all_v2.to_csv('contacts_all_v2.csv', index=False)

In [245]:
# And read the saved csv
contacts_all_v3 = pd.read_csv('contacts_all_v2.csv')

In [246]:
# contacts_all_v3.info()

## Exploring Variables

In [271]:
contacts_all_v3[['contact_channel_first','book_flag']].groupby(['contact_channel_first']).sum()

                       book_flag
contact_channel_first
book_it                     3973
contact_me                   896
instant_book                6697

In [248]:
contacts_all_v3.groupby(['contact_channel_first']).count()

,id_guest_anon,id_host_anon,id_listing_anon,ts_interaction_first,ts_reply_at_first,ts_accepted_at_first,ts_booking_at,ds_checkin_first,ds_checkout_first,m_guests,...,stay_duration_days,interact_2_reply_days,interact_2_book_in_days,location_unknown_flag,br_country_flag,room_apt_flag,room_private_flag,room_shared_flag,new_user_flag,contact_me_flag
contact_channel_first,,,,,,,,,,,,,,,,,,,,,
book_it,8364,8364,8364,8364,7499,4231,3973,8364,8364,8364,...,8364,7499,3973,8364,8364,8364,8364,8364,8364,8364
contact_me,12873,12873,12873,12873,11694,5484,896,12873,12873,12873,...,12873,11694,896,12873,12873,12873,12873,12873,12873,12873
instant_book,6697,6697,6697,6697,6697,6697,6697,6697,6697,6697,...,6697,6697,6697,6697,6697,6697,6697,6697,6697,6697

In [249]:
contacts_all_v3.groupby(['contact_channel_first']).median()

,m_guests,m_interactions,m_first_message_length_in_characters,words_in_user_profile,total_reviews,total_reviews_pos,book_flag,book_2_check_in_days,interact_2_check_in_days,stay_duration_days,interact_2_reply_days,interact_2_book_in_days,location_unknown_flag,br_country_flag,room_apt_flag,room_private_flag,room_shared_flag,new_user_flag,contact_me_flag
contact_channel_first,,,,,,,,,,,,,,,,,,,
book_it,2.0,5,125.0,0,4.0,5.0,0,25.0,36,4,0.0,0.0,0,0,1,0,0,1,0
contact_me,2.0,4,183.0,0,1.0,1.0,0,35.0,51,5,0.0,1.0,0,1,1,0,0,1,1
instant_book,2.0,9,122.0,0,13.0,13.0,1,29.0,29,4,0.0,0.0,0,0,1,0,0,0,0

In [250]:
contacts_all_v3.groupby(['contact_channel_first']).mean()

,m_guests,m_interactions,m_first_message_length_in_characters,words_in_user_profile,total_reviews,total_reviews_pos,book_flag,book_2_check_in_days,interact_2_check_in_days,stay_duration_days,interact_2_reply_days,interact_2_book_in_days,location_unknown_flag,br_country_flag,room_apt_flag,room_private_flag,room_shared_flag,new_user_flag,contact_me_flag
contact_channel_first,,,,,,,,,,,,,,,,,,,
book_it,2.632353,8.826997,165.882353,11.566475,15.416069,15.626973,0.475012,48.624213,67.058584,6.302726,0.566342,0.542160,0.412363,0.414395,0.735175,0.242348,0.022477,0.514228,0.0
contact_me,3.052901,6.078226,230.444496,8.051192,9.427173,9.524586,0.069603,59.774554,80.561485,9.877729,0.958013,3.060268,0.464694,0.615863,0.777441,0.198244,0.024314,0.685932,1.0
instant_book,2.457369,11.634165,158.412722,12.618486,27.797820,27.860535,1.000000,53.741974,53.793042,4.671047,0.033298,0.051068,0.361356,0.341795,0.728087,0.258773,0.013140,0.418546,0.0

In [107]:
contacts_all_v2.groupby(['listing_neighborhood','contact_channel_first']).count()

                                            id_guest_anon  id_host_anon  \
listing_neighborhood contact_channel_first
-unknown-            book_it                         3449          3449
                     contact_me                      5986          5986
                     instant_book                    2421          2421
Abolição             instant_book                       1             1
Andaraí              book_it                            2             2
                     contact_me                         2             2
                     instant_book                       2             2
Barra da Tijuca      book_it                          270           270
                     contact_me                       531           531
                     instant_book                     201           201
Barros Filho         book_it                            1             1
                     contact_me                         4             4
Benfica              contact_me                         1             1
                     instant_book                       1             1
Bonsucesso           book_it                            1             1
                     contact_me                         2             2
Botafogo             book_it                          257           257
                     contact_me                       339           339
                     instant_book                     159           159
Brás de Pina         contact_me                         6             6
Catete               book_it                           36            36
                     contact_me                        56            56
                     instant_book                      16            16
Catumbi              contact_me                         1             1
                     instant_book                       3             3
Centro               book_it                           36            36
                     contact_me                        49            49
                     instant_book                      36            36
Cidade Nova          contact_me                         3             3
                     instant_book                       1             1
...                                                   ...           ...
Santa Teresa         book_it                          158           158
                     contact_me                       189           189
                     instant_book                     240           240
Santo Cristo         contact_me                         3             3
                     instant_book                       8             8
Saúde                book_it                            1             1
                     instant_book                       3             3
São Conrado          book_it                           14            14
                     contact_me                        18            18
                     instant_book                       8             8
São Cristóvão        contact_me                        11            11
                     instant_book                       6             6
Tijuca               book_it                           29            29
                     contact_me                        55            55
                     instant_book                      25            25
Todos os Santos      book_it                            1             1
                     contact_me                         1             1
                     instant_book                       3             3
Urca                 book_it                           24            24
                     contact_me                        20            20
                     instant_book                      34            34
Vaz Lobo             book_it                            1             1
Vidigal              book_it                           25            25
                     contact_me                        36            36
                     instant_book                      43            43
Vigário Geral        contact_me                         1             1
Vila Isabel          book_it                            9             9
                     contact_me                        29            29
                     instant_book                      13            13
Vila da Penha        contact_me                         1             1

                                            id_listing_anon  \
listing_neighborhood contact_channel_first
-unknown-            book_it                           3449
                     contact_me                        5986
                     instant_book                      2421
Abolição             instant_book                         1
Andaraí              book_it                              2
                     contact_me                           2
                     instant_book                         2
Barra da Tijuca      book_it                            270
                     contact_me                         531
                     instant_book                       201
Barros Filho         book_it                              1
                     contact_me                           4
Benfica              contact_me                           1
                     instant_book                         1
Bonsucesso           book_it                              1
                     contact_me                           2
Botafogo             book_it                            257
                     contact_me                         339
                     instant_book                       159
Brás de Pina         contact_me                           6
Catete               book_it                             36
                     contact_me                          56
                     instant_book                        16
Catumbi              contact_me                           1
                     instant_book                         3
Centro               book_it                             36
                     contact_me                          49
                     instant_book                        36
Cidade Nova          contact_me                           3
                     instant_book                         1
...                                                     ...
Santa Teresa         book_it                            158
                     contact_me                         189
                     instant_book                       240
Santo Cristo         contact_me                           3
                     instant_book                         8
Saúde                book_it                              1
                     instant_book                         3
São Conrado          book_it                             14
                     contact_me                          18
                     instant_book                         8
São Cristóvão        contact_me                          11
                     instant_book                         6
Tijuca               book_it                             29
                     contact_me                          55
                     instant_book                        25
Todos os Santos      book_it                              1
                     contact_me                           1
                     instant_book                         3
Urca                 book_it                             24
                     contact_me                          20
                     instant_book                        34
Vaz Lobo             book_it                              1
Vidigal              book_it                             25
                     contact_me                          36
                     instant_book                        43
Vigário Geral        contact_me                           1
Vila Isabel          book_it                              9
                     contact_me                          29
                     instant_book                        13
Vila da Penha        contact_me                           1

                                            ts_interaction_first  \
listing_neighborhood contact_channel_first
-unknown-            book_it                                3449
                     contact_me                             5986
                     instant_book                           2421
Abolição             instant_book                              1
Andaraí              book_it                                   2
                     contact_me                                2
                     instant_book                              2
Barra da Tijuca      book_it                                 270
                     contact_me                              531
                     instant_book                            201
Barros Filho         book_it                                   1
                     contact_me                                4
Benfica              contact_me                                1
                     instant_book                              1
Bonsucesso           book_it                                   1
                     contact_me                                2
Botafogo             book_it                                 257
                     contact_me                              339
                     instant_book                            159
Brás de Pina         contact_me                                6
Catete               book_it                                  36
                     contact_me                               56
                     instant_book                             16
Catumbi              contact_me                                1
                     instant_book                              3
Centro               book_it                                  36
                     contact_me                               49
                     instant_book                             36
Cidade Nova          contact_me                                3
                     instant_book                              1
...                                                          ...
Santa Teresa         book_it                                 158
                     contact_me                              189
                     instant_book                            240
Santo Cristo         contact_me                                3
                     instant_book                              8
Saúde                book_it                                   1
                     instant_book                              3
São Conrado          book_it                                  14
                     contact_me                               18
                     instant_book                              8
São Cristóvão        contact_me                               11
                     instant_book                              6
Tijuca               book_it                                  29
                     contact_me                               55
                     instant_book                             25
Todos os Santos      book_it                                   1
                     contact_me                                1
                     instant_book                              3
Urca                 book_it                                  24
                     contact_me                               20
                     instant_book                             34
Vaz Lobo             book_it                                   1
Vidigal              book_it                                  25
                     contact_me                               36
                     instant_book                             43
Vigário Geral        contact_me                                1
Vila Isabel          book_it                                   9
                     contact_me                               29
                     instant_book                             13
Vila da Penha        contact_me                                1

                                            ts_reply_at_first  \
listing_neighborhood contact_channel_first
-unknown-            book_it                             2992
                     contact_me                          5355
                     instant_book                        2421
Abolição             instant_book                           1
Andaraí              book_it                                2
                     contact_me                             2
                     instant_book                           2
Barra da Tijuca      book_it                              238
                     contact_me                           498
                     instant_book                         201
Barros Filho         book_it                                1
                     contact_me                             4
Benfica              contact_me                             1
                     instant_book                           1
Bonsucesso           book_it                                0
                     contact_me                             2
Botafogo             book_it                              230
                     contact_me                           324
                     instant_book                         159
Brás de Pina         contact_me                             6
Catete               book_it                               32
                     contact_me                            51
                     instant_book                          16
Catumbi              contact_me                             0
                     instant_book                           3
Centro               book_it                               30
                     contact_me                            46
                     instant_book                          36
Cidade Nova          contact_me                             3
                     instant_book                           1
...                                                       ...
Santa Teresa         book_it                              151
                     contact_me                           180
                     instant_book                         240
Santo Cristo         contact_me                             1
                     instant_book                           8
Saúde                book_it                                1
                     instant_book                           3
São Conrado          book_it                               13
                     contact_me                            16
                     instant_book                           8
São Cristóvão        contact_me                            11
                     instant_book                           6
Tijuca               book_it                               25
                     contact_me                            47
                     instant_book                          25
Todos os Santos      book_it                                1
                     contact_me                             1
                     instant_book                           3
Urca                 book_it                               21
                     contact_me                            20
                     instant_book                          34
Vaz Lobo             book_it                                0
Vidigal              book_it                               21
                     contact_me                            36
                     instant_book                          43
Vigário Geral        contact_me                             1
Vila Isabel          book_it                                6
                     contact_me                            24
                     instant_book                          13
Vila da Penha        contact_me                             0

                                            ts_accepted_at_first  \
listing_neighborhood contact_channel_first
-unknown-            book_it                                1577
                     contact_me                             2382
                     instant_book                           2421
Abolição             instant_book                              1
Andaraí              book_it                                   2
                     contact_me                                0
                     instant_book                              2
Barra da Tijuca      book_it                                 129
                     contact_me                              238
                     instant_book                            201
Barros Filho         book_it                                   1
                     contact_me                                3
Benfica              contact_me                                1
                     instant_book                              1
Bonsucesso           book_it                                   0
                     contact_me                                0
Botafogo             book_it                                 133
                     contact_me                              154
                     instant_book                            159
Brás de Pina         contact_me                                4
Catete               book_it                                  18
                     contact_me                               30
                     instant_book                             16
Catumbi              contact_me                                0
                     instant_book                              3
Centro               book_it                                  24
                     contact_me                               19
                     instant_book                             36
Cidade Nova          contact_me                                0
                     instant_book                              1
...                                                          ...
Santa Teresa         book_it                                  96
                     contact_me                               88
                     instant_book                            240
Santo Cristo         contact_me                                1
                     instant_book                              8
Saúde                book_it                                   1
                     instant_book                              3
São Conrado          book_it                                   7
                     contact_me                               10
                     instant_book                              8
São Cristóvão        contact_me                                4
                     instant_book                              6
Tijuca               book_it                                  15
                     contact_me                               28
                     instant_book                             25
Todos os Santos      book_it                                   1
                     contact_me                                0
                     instant_book                              3
Urca                 book_it                                  11
                     contact_me                                6
                     instant_book                             34
Vaz Lobo             book_it                                   0
Vidigal              book_it                                  13
                     contact_me                               12
                     instant_book                             43

In [218]:
# Flags
# contacts_all_v3['location_unknown_flag'] = np.where(contacts_all_v3['listing_neighborhood'] == '-unknown-', 1, 0)
# contacts_all_v3['br_country_flag'] = np.where(contacts_all_v3['country'] == 'BR', 1, 0)

In [251]:
contacts_all_v3.describe()

,m_guests,m_interactions,m_first_message_length_in_characters,words_in_user_profile,total_reviews,total_reviews_pos,book_flag,book_2_check_in_days,interact_2_check_in_days,stay_duration_days,interact_2_reply_days,interact_2_book_in_days,location_unknown_flag,br_country_flag,room_apt_flag,room_private_flag,room_shared_flag,new_user_flag,contact_me_flag
count,27934.000000,27934.000000,27934.000000,27934.000000,27934.000000,27934.000000,27934.000000,11566.000000,27934.000000,27934.000000,25890.000000,11566.000000,27934.000000,27934.000000,27934.000000,27934.000000,27934.000000,27934.000000,27934.000000
mean,2.784206,8.233264,193.844133,10.198718,15.624615,15.747691,0.414047,52.451323,70.100881,7.559032,0.605369,0.452879,0.424250,0.489833,0.752953,0.225961,0.021085,0.570416,0.460836
std,1.866784,10.006696,183.208540,30.846307,27.709862,27.640100,0.492566,62.116683,72.967673,14.314452,5.766502,3.401455,0.494237,0.499906,0.431302,0.418221,0.143672,0.495026,0.498473
min,1.000000,1.000000,0.000000,0.000000,-34.000000,0.000000,0.000000,0.000000,-94.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,3.000000,66.000000,0.000000,0.000000,0.000000,0.000000,7.000000,13.000000,3.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,2.000000,5.000000,154.000000,0.000000,3.000000,3.000000,0.000000,28.000000,40.000000,4.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,4.000000,10.000000,269.000000,1.000000,18.000000,18.000000,1.000000,75.000000,111.000000,8.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,16.000000,410.000000,2341.000000,658.000000,268.000000,268.000000,1.000000,379.000000,804.000000,365.000000,410.000000,217.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [253]:
contacts_all_v3.groupby(['new_user_flag','location_unknown_flag','contact_channel_first']).count()

                                                           id_guest_anon  \
new_user_flag location_unknown_flag contact_channel_first
0             0                     book_it                         2454
                                    contact_me                      2263
                                    instant_book                    2553
              1                     book_it                         1609
                                    contact_me                      1780
                                    instant_book                    1341
1             0                     book_it                         2461
                                    contact_me                      4628
                                    instant_book                    1724
              1                     book_it                         1840
                                    contact_me                      4202
                                    instant_book                    1079

                                                           id_host_anon  \
new_user_flag location_unknown_flag contact_channel_first
0             0                     book_it                        2454
                                    contact_me                     2263
                                    instant_book                   2553
              1                     book_it                        1609
                                    contact_me                     1780
                                    instant_book                   1341
1             0                     book_it                        2461
                                    contact_me                     4628
                                    instant_book                   1724
              1                     book_it                        1840
                                    contact_me                     4202
                                    instant_book                   1079

                                                           id_listing_anon  \
new_user_flag location_unknown_flag contact_channel_first
0             0                     book_it                           2454
                                    contact_me                        2263
                                    instant_book                      2553
              1                     book_it                           1609
                                    contact_me                        1780
                                    instant_book                      1341
1             0                     book_it                           2461
                                    contact_me                        4628
                                    instant_book                      1724
              1                     book_it                           1840
                                    contact_me                        4202
                                    instant_book                      1079

                                                           ts_interaction_first  \
new_user_flag location_unknown_flag contact_channel_first
0             0                     book_it                                2454
                                    contact_me                             2263
                                    instant_book                           2553
              1                     book_it                                1609
                                    contact_me                             1780
                                    instant_book                           1341
1             0                     book_it                                2461
                                    contact_me                             4628
                                    instant_book                           1724
              1                     book_it                                1840
                                    contact_me                             4202
                                    instant_book                           1079

                                                           ts_reply_at_first  \
new_user_flag location_unknown_flag contact_channel_first
0             0                     book_it                             2273
                                    contact_me                          2075
                                    instant_book                        2553
              1                     book_it                             1408
                                    contact_me                          1581
                                    instant_book                        1341
1             0                     book_it                             2234
                                    contact_me                          4268
                                    instant_book                        1724
              1                     book_it                             1584
                                    contact_me                          3770
                                    instant_book                        1079

                                                           ts_accepted_at_first  \
new_user_flag location_unknown_flag contact_channel_first
0             0                     book_it                                1355
                                    contact_me                             1002
                                    instant_book                           2553
              1                     book_it                                 784
                                    contact_me                              740
                                    instant_book                           1341
1             0                     book_it                                1299
                                    contact_me                             2101
                                    instant_book                           1724
              1                     book_it                                 793
                                    contact_me                             1641
                                    instant_book                           1079

                                                           ts_booking_at  \
new_user_flag location_unknown_flag contact_channel_first
0             0                     book_it                         1272
                                    contact_me                       217
                                    instant_book                    2553
              1                     book_it                          757
                                    contact_me                       147
                                    instant_book                    1341
1             0                     book_it                         1203
                                    contact_me                       305
                                    instant_book                    1724
              1                     book_it                          741
                                    contact_me                       227
                                    instant_book                    1079

                                                           ds_checkin_first  \
new_user_flag location_unknown_flag contact_channel_first
0             0                     book_it                            2454
                                    contact_me                         2263
                                    instant_book                       2553
              1                     book_it                            1609
                                    contact_me                         1780
                                    instant_book                       1341
1             0                     book_it                            2461
                                    contact_me                         4628
                                    instant_book                       1724
              1                     book_it                            1840
                                    contact_me                         4202
                                    instant_book                       1079

                                                           ds_checkout_first  \
new_user_flag location_unknown_flag contact_channel_first
0             0                     book_it                             2454
                                    contact_me                          2263
                                    instant_book                        2553
              1                     book_it                             1609
                                    contact_me                          1780
                                    instant_book                        1341
1             0                     book_it                             2461
                                    contact_me                          4628
                                    instant_book                        1724
              1                     book_it                             1840
                                    contact_me                          4202
                                    instant_book                        1079

                                                           m_guests  \
new_user_flag location_unknown_flag contact_channel_first
0             0                     book_it                    2454
                                    contact_me                 2263
                                    instant_book               2553
              1                     book_it                    1609
                                    contact_me                 1780
                                    instant_book               1341
1             0                     book_it                    2461
                                    contact_me                 4628
                                    instant_book               1724
              1                     book_it                    1840
                                    contact_me                 4202
                                    instant_book               1079

                                                                ...         \
new_user_flag location_unknown_flag contact_channel_first       ...
0             0                     book_it                     ...
                                    contact_me                  ...
                                    instant_book                ...
              1                     book_it                     ...
                                    contact_me                  ...
                                    instant_book                ...
1             0                     book_it                     ...
                                    contact_me                  ...
                                    instant_book                ...
              1                     book_it                     ...
                                    contact_me                  ...
                                    instant_book                ...

                                                           book_2_check_in_days  \
new_user_flag location_unknown_flag contact_channel_first
0             0                     book_it                                1272
                                    contact_me                              217
                                    instant_book                           2553
              1                     book_it                                 757
                                    contact_me                              147
                                    instant_book                           1341
1             0                     book_it                                1203
                                    contact_me                              305
                                    instant_book                           1724
              1                     book_it                                 741
                                    contact_me                              227
                                    instant_book                           1079

                                                           interact_2_check_in_days  \
new_user_flag location_unknown_flag contact_channel_first
0             0                     book_it                                    2454
                                    contact_me                                 2263
                                    instant_book                               2553
              1                     book_it                                    1609
                                    contact_me                                 1780
                                    instant_book                               1341
1             0                     book_it                                    2461
                                    contact_me                                 4628
                                    instant_book                               1724
              1                     book_it                                    1840
                                    contact_me                                 4202
                                    instant_book                               1079

                                                           stay_duration_days  \
new_user_flag location_unknown_flag contact_channel_first
0             0                     book_it                              2454
                                    contact_me                           2263
                                    instant_book                         2553
              1                     book_it                              1609
                                    contact_me                           1780
                                    instant_book                         1341
1             0                     book_it                              2461
                                    contact_me                           4628
                                    instant_book                         1724
              1                     book_it                              1840
                                    contact_me                           4202
                                    instant_book                         1079

                                                           interact_2_reply_days  \
new_user_flag location_unknown_flag contact_channel_first
0             0                     book_it                                 2273
                                    contact_me                              2075
                                    instant_book                            2553
              1                     book_it                                 1408
                                    contact_me                              1581
                                    instant_book                            1341
1             0                     book_it                                 2234
                                    contact_me                              4268
                                    instant_book                            1724
              1                     book_it                                 1584
                                    contact_me                              3770
                                    instant_book                            1079

                                                           interact_2_book_in_days  \
new_user_flag location_unknown_flag contact_channel_first
0             0                     book_it                                   1272
                                    contact_me                                 217
                                    instant_book                              2553
              1                     book_it                                    757
                                    contact_me                                 147
                                    instant_book                              1341
1             0                     book_it                                   1203
                                    contact_me                                 305
                                    instant_book                              1724
              1                     book_it                                    741
                                    contact_me                                 227
                                    instant_book                              1079

                                                           br_country_flag  \
new_user_flag location_unknown_flag contact_channel_first
0             0                     book_it                           2454
                                    contact_me                        2263
                                    instant_book                      2553
              1                     book_it                           1609
                                    contact_me                        1780
                                    instant_book                      1341
1             0                     book_it                           2461
                                    contact_me                        4628
                                    instant_book                      1724
              1                     book_it                           1840
                                    contact_me                        4202
                                    instant_book                      1079

                                                           room_apt_flag  \
new_user_flag location_unknown_flag contact_channel_first
0             0                     book_it                         2454
                                    contact_me                      2263
                                    instant_book                    2553
              1                     book_it                         1609
                                    contact_me                      1780
                                    instant_book                    1341
1             0                     book_it                         2461
                                    contact_me                      4628
                                    instant_book                    1724
              1                     book_it                         1840
                                    contact_me                      4202
                                    instant_book                    1079

                                                           room_private_flag  \
new_user_flag location_unknown_flag contact_channel_first
0             0                     book_it                             2454
                                    contact_me                          2263
                                    instant_book                        2553
              1                     book_it                             1609
                                    contact_me                          1780
                                    instant_book                        1341
1             0                     book_it                             2461
                                    contact_me                          4628
                                    instant_book                        1724
              1                     book_it                             1840
                                    contact_me                          4202

# How do you move new users from Contact me to book_it?

In [254]:
contacts_all_v3.groupby(['new_user_flag','br_country_flag','location_unknown_flag','contact_channel_first']).count()

                                                                           id_guest_anon  \
new_user_flag br_country_flag location_unknown_flag contact_channel_first
0             0               0                     book_it                         1738
                                                    contact_me                      1176
                                                    instant_book                    1967
                              1                     book_it                         1093
                                                    contact_me                       850
                                                    instant_book                     937
              1               0                     book_it                          716
                                                    contact_me                      1087
                                                    instant_book                     586
                              1                     book_it                          516
                                                    contact_me                       930
                                                    instant_book                     404
1             0               0                     book_it                         1221
                                                    contact_me                      1595
                                                    instant_book                     957
                              1                     book_it                          846
                                                    contact_me                      1324
                                                    instant_book                     547
              1               0                     book_it                         1240
                                                    contact_me                      3033
                                                    instant_book                     767
                              1                     book_it                          994
                                                    contact_me                      2878
                                                    instant_book                     532

                                                                           id_host_anon  \
new_user_flag br_country_flag location_unknown_flag contact_channel_first
0             0               0                     book_it                        1738
                                                    contact_me                     1176
                                                    instant_book                   1967
                              1                     book_it                        1093
                                                    contact_me                      850
                                                    instant_book                    937
              1               0                     book_it                         716
                                                    contact_me                     1087
                                                    instant_book                    586
                              1                     book_it                         516
                                                    contact_me                      930
                                                    instant_book                    404
1             0               0                     book_it                        1221
                                                    contact_me                     1595
                                                    instant_book                    957
                              1                     book_it                         846
                                                    contact_me                     1324
                                                    instant_book                    547
              1               0                     book_it                        1240
                                                    contact_me                     3033
                                                    instant_book                    767
                              1                     book_it                         994
                                                    contact_me                     2878
                                                    instant_book                    532

                                                                           id_listing_anon  \
new_user_flag br_country_flag location_unknown_flag contact_channel_first
0             0               0                     book_it                           1738
                                                    contact_me                        1176
                                                    instant_book                      1967
                              1                     book_it                           1093
                                                    contact_me                         850
                                                    instant_book                       937
              1               0                     book_it                            716
                                                    contact_me                        1087
                                                    instant_book                       586
                              1                     book_it                            516
                                                    contact_me                         930
                                                    instant_book                       404
1             0               0                     book_it                           1221
                                                    contact_me                        1595
                                                    instant_book                       957
                              1                     book_it                            846
                                                    contact_me                        1324
                                                    instant_book                       547
              1               0                     book_it                           1240
                                                    contact_me                        3033
                                                    instant_book                       767
                              1                     book_it                            994
                                                    contact_me                        2878
                                                    instant_book                       532

                                                                           ts_interaction_first  \
new_user_flag br_country_flag location_unknown_flag contact_channel_first
0             0               0                     book_it                                1738
                                                    contact_me                             1176
                                                    instant_book                           1967
                              1                     book_it                                1093
                                                    contact_me                              850
                                                    instant_book                            937
              1               0                     book_it                                 716
                                                    contact_me                             1087
                                                    instant_book                            586
                              1                     book_it                                 516
                                                    contact_me                              930
                                                    instant_book                            404
1             0               0                     book_it                                1221
                                                    contact_me                             1595
                                                    instant_book                            957
                              1                     book_it                                 846
                                                    contact_me                             1324
                                                    instant_book                            547
              1               0                     book_it                                1240
                                                    contact_me                             3033
                                                    instant_book                            767
                              1                     book_it                                 994
                                                    contact_me                             2878
                                                    instant_book                            532

                                                                           ts_reply_at_first  \
new_user_flag br_country_flag location_unknown_flag contact_channel_first
0             0               0                     book_it                             1625
                                                    contact_me                          1084
                                                    instant_book                        1967
                              1                     book_it                              962
                                                    contact_me                           761
                                                    instant_book                         937
              1               0                     book_it                              648
                                                    contact_me                           991
                                                    instant_book                         586
                              1                     book_it                              446
                                                    contact_me                           820
                                                    instant_book                         404
1             0               0                     book_it                             1128
                                                    contact_me                          1459
                                                    instant_book                         957
                              1                     book_it                              741
                                                    contact_me                          1181
                                                    instant_book                         547
              1               0                     book_it                             1106
                                                    contact_me                          2809
                                                    instant_book                         767
                              1                     book_it                              843
                                                    contact_me                          2589
                                                    instant_book                         532

                                                                           ts_accepted_at_first  \
new_user_flag br_country_flag location_unknown_flag contact_channel_first
0             0               0                     book_it                                1008
                                                    contact_me                              580
                                                    instant_book                           1967
                              1                     book_it                                 555
                                                    contact_me                              403
                                                    instant_book                            937
              1               0                     book_it                                 347
                                                    contact_me                              422
                                                    instant_book                            586
                              1                     book_it                                 229
                                                    contact_me                              337
                                                    instant_book                            404
1             0               0                     book_it                                 688
                                                    contact_me                              775
                                                    instant_book                            957
                              1                     book_it                                 404
                                                    contact_me                              558
                                                    instant_book                            547
              1               0                     book_it                                 611
                                                    contact_me                             1326
                                                    instant_book                            767
                              1                     book_it                                 389
                                                    contact_me                             1083
                                                    instant_book                            532

                                                                           ts_booking_at  \
new_user_flag br_country_flag location_unknown_flag contact_channel_first
0             0               0                     book_it                          944
                                                    contact_me                       130
                                                    instant_book                    1967
                              1                     book_it                          535
                                                    contact_me                        88
                                                    instant_book                     937
              1               0                     book_it                          328
                                                    contact_me                        87
                                                    instant_book                     586
                              1                     book_it                          222
                                                    contact_me                        59
                                                    instant_book                     404
1             0               0                     book_it                          648
                                                    contact_me                       132
                                                    instant_book                     957
                              1                     book_it                          379
                                                    contact_me                        82
                                                    instant_book                     547
              1               0                     book_it                          555
                                                    contact_me                       173
                                                    instant_book                     767
                              1                     book_it                          362
                                                    contact_me                       145
                                                    instant_book                     532

                                                                           ds_checkin_first  \
new_user_flag br_country_flag location_unknown_flag contact_channel_first
0             0               0                     book_it                            1738
                                                    contact_me                         1176
                                                    instant_book                       1967
                              1                     book_it                            1093
                                                    contact_me                          850
                                                    instant_book                        937
              1               0                     book_it                             716
                                                    contact_me                         1087
                                                    instant_book                        586
                              1                     book_it                             516
                                                    contact_me                          930
                                                    instant_book                        404
1             0               0                     book_it                            1221
                                                    contact_me                         1595
                                                    instant_book                        957
                              1                     book_it                             846
                                                    contact_me                         1324
                                                    instant_book                        547
              1               0                     book_it                            1240
                                                    contact_me                         3033
                                                    instant_book                        767
                              1                     book_it                             994
                                                    contact_me                         2878
                                                    instant_book                        532

                                                                           ds_checkout_first  \
new_user_flag br_country_flag location_unknown_flag contact_channel_first
0             0               0                     book_it                             1738
                                                    contact_me                          1176
                                                    instant_book                        1967
                              1                     book_it                             1093
                                                    contact_me                           850
                                                    instant_book                         937
              1               0                     book_it                              716
                                                    contact_me                          1087
                                                    instant_book                         586

In [204]:
contacts_all_v3.groupby(['new_user_flag','br_country_flag']).count()

                               id_guest_anon  id_host_anon  id_listing_anon  \
new_user_flag br_country_flag
0             0                         7761          7761             7761
              1                         4239          4239             4239
1             0                         6490          6490             6490
              1                         9444          9444             9444

                               ts_interaction_first  ts_reply_at_first  \
new_user_flag br_country_flag
0             0                                7761               7336
              1                                4239               3895
1             0                                6490               6013
              1                                9444               8646

                               ts_accepted_at_first  ts_booking_at  \
new_user_flag br_country_flag
0             0                                5450           4601
              1                                2325           1686
1             0                                3929           2745
              1                                4708           2534

                               ds_checkin_first  ds_checkout_first  m_guests  \
new_user_flag br_country_flag
0             0                            7761               7761      7761
              1                            4239               4239      4239
1             0                            6490               6490      6490
              1                            9444               9444      9444

                                     ...         total_reviews_pos  book_flag  \
new_user_flag br_country_flag        ...
0             0                      ...                      7761       7761
              1                      ...                      4239       4239
1             0                      ...                      6490       6490
              1                      ...                      9444       9444

                               book_2_check_in_days  interact_2_check_in_days  \
new_user_flag br_country_flag
0             0                                4601                      7761
              1                                1686                      4239
1             0                                2745                      6490
              1                                2534                      9444

                               stay_duration_days  interact_2_reply_days  \
new_user_flag br_country_flag
0             0                              7761                   7336
              1                              4239                   3895
1             0                              6490                   6013
              1                              9444                   8646

                               location_unknown_flag  room_apt_flag  \
new_user_flag br_country_flag
0             0                                 7761           7761
              1                                 4239           4239
1             0                                 6490           6490
              1                                 9444           9444

                               room_private_flag  room_shared_flag
new_user_flag br_country_flag
0             0                             7761              7761
              1                             4239              4239
1             0                             6490              6490
              1                             9444              9444

[4 rows x 30 columns]

In [ ]:
# Non-brasilians have more interactions (ask more questions)
# Their messages are longer 
# Their profiles are longer
# Seems like they go for places with more reviews
#

In [205]:
contacts_all_v3.groupby(['new_user_flag','br_country_flag']).mean()

                               m_guests  m_interactions  \
new_user_flag br_country_flag
0             0                2.379461        9.896147
              1                2.815994        7.382166
1             0                2.796610        8.533744
              1                3.094028        7.042249

                               m_first_message_length_in_characters  \
new_user_flag br_country_flag
0             0                                          221.204484
              1                                          136.197452
1             0                                          238.806626
              1                                          166.336086

                               words_in_user_profile  total_reviews  \
new_user_flag br_country_flag
0             0                            19.376884      22.613967
              1                            11.199104      12.836282
1             0                             7.936826      15.504468
              1                             3.761542      11.214951

                               total_reviews_pos  book_flag  \
new_user_flag br_country_flag
0             0                        22.726324   0.592836
              1                        12.977353   0.397735
1             0                        15.611402   0.422958
              1                        11.349852   0.268319

                               book_2_check_in_days  interact_2_check_in_days  \
new_user_flag br_country_flag
0             0                           46.382960                 59.414895
              1                           45.494662                 60.229771
1             0                           63.349727                 84.221572
              1                           56.292423                 73.609382

                               stay_duration_days  interact_2_reply_days  \
new_user_flag br_country_flag
0             0                          7.432161               0.444248
              1                          6.311866               0.454685
1             0                          9.445146               0.750873
              1                          6.926938               0.708767

                               location_unknown_flag  room_apt_flag  \
new_user_flag br_country_flag
0             0                             0.371086       0.719366
              1                             0.436424       0.795707
1             0                             0.418644       0.745455
              1                             0.466328       0.766518

                               room_private_flag  room_shared_flag
new_user_flag br_country_flag
0             0                         0.263110          0.017524
              1                         0.188488          0.015806
1             0                         0.229584          0.024961
              1                         0.209763          0.023719

In [ ]:
#Seems that brasilians have lower booking ratios

In [228]:
contacts_all_v3.groupby(['new_user_flag','br_country_flag','contact_me_flag']).mean()

                                               m_guests  m_interactions  \
new_user_flag br_country_flag contact_me_flag
0             0               0                2.284568       11.002092
                              1                2.648075        6.765548
              1               0                2.622412        8.771827
                              1                3.029251        5.851264
1             0               0                2.613274       10.596752
                              1                3.020898        6.009935
              1               0                2.890744        8.863289
                              1                3.215530        5.953815

                                               m_first_message_length_in_characters  \
new_user_flag br_country_flag contact_me_flag
0             0               0                                          204.029468
                              1                                          269.821816
              1               0                                           83.238074
                              1                                          194.539415
1             0               0                                          212.685242
                              1                                          270.762590
              1               0                                           94.471271
                              1                                          209.289630

                                               words_in_user_profile  \
new_user_flag br_country_flag contact_me_flag
0             0               0                            19.558849
                              1                            18.861797
              1               0                            11.407741
                              1                            10.969261
1             0               0                             8.548306
                              1                             7.188763
              1               0                             3.737334
                              1                             3.776011

                                               total_reviews  \
new_user_flag br_country_flag contact_me_flag
0             0               0                    26.712642
                              1                    11.011846
              1               0                    16.387939
                              1                     8.923649
1             0               0                    20.638757
                              1                     9.223364
              1               0                    14.658930
                              1                     9.156488

                                               total_reviews_pos  book_flag  \
new_user_flag br_country_flag contact_me_flag
0             0               0                        26.827027   0.764255
                              1                        11.118460   0.107601
              1               0                        16.585959   0.693069
                              1                         9.001983   0.072385
1             0               0                        20.750770   0.708765
                              1                         9.324084   0.073313
              1               0                        14.853665   0.627229
                              1                         9.255625   0.053798

                                               book_2_check_in_days  \
new_user_flag br_country_flag contact_me_flag
0             0               0                           45.989277
                              1                           54.298165
              1               0                           45.940909
                              1                           40.787671
1             0               0                           62.098380
                              1                           78.149533
              1               0                           55.777527
                              1                           59.880503

                                               interact_2_check_in_days  \
new_user_flag br_country_flag contact_me_flag
0             0               0                               52.997036
                              1                               77.581935
              1               0                               54.547255
                              1                               66.489836
1             0               0                               71.463736
                              1                               99.829051
              1               0                               68.154826
                              1                               76.869565

                                               stay_duration_days  \
new_user_flag br_country_flag contact_me_flag
0             0               0                          5.803313
                              1                         12.042942
              1               0                          4.143564
                              1                          8.700545
1             0               0                          7.325679
                              1                         12.038027
              1               0                          4.344466
                              1                          8.470479

                                               interact_2_reply_days  \
new_user_flag br_country_flag contact_me_flag
0             0               0                             0.311419
                              1                             0.839566
              1               0                             0.282630
                              1                             0.652678
1             0               0                             0.361103
                              1                             1.248864
              1               0                             0.293411
                              1                             0.958688

                                               location_unknown_flag  \
new_user_flag br_country_flag contact_me_flag
0             0               0                             0.353967
                              1                             0.419546
              1               0                             0.414041
                              1                             0.461081
1             0               0                             0.390087
                              1                             0.453580
              1               0                             0.431928
                              1                             0.486889

                                               room_apt_flag  \
new_user_flag br_country_flag contact_me_flag
0             0               0                     0.703400
                              1                     0.764561
              1               0                     0.774077
                              1                     0.819534
1             0               0                     0.726967
                              1                     0.768071
              1               0                     0.757147
                              1                     0.772120

                                               room_private_flag  \
new_user_flag br_country_flag contact_me_flag
0             0               0                         0.279337
                              1                         0.217177
              1               0                         0.211521
                              1                         0.163114
1             0               0                         0.252870
                              1                         0.201096
              1               0                         0.222191
                              1                         0.202335

                                               room_shared_flag
new_user_flag br_country_flag contact_me_flag
0             0               0                        0.017262
                              1                        0.018263
              1               0                        0.014401
                              1                        0.017353
1             0               0                        0.020162
                              1                        0.030832
              1               0                        0.020662
                              1                        0.025546

In [163]:
contacts_all_v3.groupby(['br_country_flag','location_unknown_flag','contact_channel_first']).mean()

                                                             m_guests  \
br_country_flag location_unknown_flag contact_channel_first
0               0                     book_it                2.478202
                                      contact_me             2.858174
                                      instant_book           2.362859
                1                     book_it                2.428571
                                      contact_me             2.880865
                                      instant_book           2.347035
1               0                     book_it                2.864008
                                      contact_me             3.164078
                                      instant_book           2.659276
                1                     book_it                2.896026
                                      contact_me             3.172532
                                      instant_book           2.635684

                                                             m_interactions  \
br_country_flag location_unknown_flag contact_channel_first
0               0                     book_it                      9.415343
                                      contact_me                   6.249729
                                      instant_book                12.293434
                1                     book_it                      9.227953
                                      contact_me                   6.408464
                                      instant_book                12.964286
1               0                     book_it                      8.221881
                                      contact_me                   5.878883
                                      instant_book                10.133777
                1                     book_it                      7.943046
                                      contact_me                   5.980567
                                      instant_book                 9.634615

                                                             m_first_message_length_in_characters  \
br_country_flag location_unknown_flag contact_channel_first
0               0                     book_it                                          222.204123
                                      contact_me                                       270.980512
                                      instant_book                                     200.098837
                1                     book_it                                          207.683342
                                      contact_me                                       269.608096
                                      instant_book                                     191.589623
1               0                     book_it                                           90.038855
                                      contact_me                                       207.626942
                                      instant_book                                      84.563193
                1                     book_it                                          100.082119
                                      contact_me                                       203.275735
                                      instant_book                                      82.337607

                                                             words_in_user_profile  \
br_country_flag location_unknown_flag contact_channel_first
0               0                     book_it                            15.654275
                                      contact_me                         12.263804
                                      instant_book                       15.791724
                1                     book_it                            14.107272
                                      contact_me                         11.598436
                                      instant_book                       15.394879
1               0                     book_it                             6.658487
                                      contact_me                          5.570146
                                      instant_book                        6.888396
                1                     book_it                             6.650993
                                      contact_me                          5.644958
                                      instant_book                        6.586538

                                                             total_reviews  \
br_country_flag location_unknown_flag contact_channel_first
0               0                     book_it                    22.715444
                                      contact_me                 13.837965
                                      instant_book               38.427839
                1                     book_it                    10.027334
                                      contact_me                  5.008280
                                      instant_book               18.785040
1               0                     book_it                    16.427914
                                      contact_me                 13.143204
                                      instant_book               25.899483
                1                     book_it                     6.721192
                                      contact_me                  4.719800
                                      instant_book               11.623932

                                                             total_reviews_pos  \
br_country_flag location_unknown_flag contact_channel_first
0               0                     book_it                        22.886448
                                      contact_me                     13.902923
                                      instant_book                   38.487346
                1                     book_it                        10.196493
                                      contact_me                      5.160074
                                      instant_book                   18.817385
1               0                     book_it                        16.799080
                                      contact_me                     13.233981
                                      instant_book                   25.970436
                1                     book_it                         6.856291
                                      contact_me                      4.816964
                                      instant_book                   11.732906

                                                             book_flag  \
br_country_flag location_unknown_flag contact_channel_first
0               0                     book_it                 0.538020
                                      contact_me              0.094551
                                      instant_book            1.000000
                1                     book_it                 0.471377
                                      contact_me              0.078197
                                      instant_book            1.000000
1               0                     book_it                 0.451431
                                      contact_me              0.063107
                                      instant_book            1.000000
                1                     book_it                 0.386755
                                      contact_me              0.053571
                                      instant_book            1.000000

                                                             book_2_check_in_days  \
br_country_flag location_unknown_flag contact_channel_first
0               0                     book_it                           47.843593
                                      contact_me                        64.125954
                                      instant_book                      52.068399
                1                     book_it                           49.236324
                                      contact_me                        69.176471
                                      instant_book                      57.496631
1               0                     book_it                           47.148358
                                      contact_me                        50.584615
                                      instant_book                      50.708795
                1                     book_it                           52.025685
                                      contact_me                        58.063725
                                      instant_book                      57.401709

                                                             interact_2_check_in_days  \
br_country_flag location_unknown_flag contact_channel_first
0               0                     book_it                               64.048327
                                      contact_me                            89.645615
                                      instant_book                          52.102257
                1                     book_it                               68.007736
                                      contact_me                            92.076357
                                      instant_book                          57.548518
1               0                     book_it                               65.518405
                                      contact_me                            72.895631
                                      instant_book                          50.771619
                1                     book_it                               73.733775
                                      contact_me                            75.671218
                                      instant_book                          57.488248

                                                             stay_duration_days  \
br_country_flag location_unknown_flag contact_channel_first
0               0                     book_it                          7.180804
                                      contact_me                      11.518585
                                      instant_book                     5.091997
                1                     book_it                          7.943270
                                      contact_me                      12.704692
                                      instant_book                     5.325472
1               0                     book_it                          4.496933
                                      contact_me                       8.474757
                                      instant_book                     3.600887
                1                     book_it                          4.814570
                                      contact_me                       8.587710
                                      instant_book                     3.865385

                                                             interact_2_reply_days  \
br_country_flag location_unknown_flag contact_channel_first
0               0                     book_it                             0.452960
                                      contact_me                          0.874558
                                      instant_book                        0.031122
                1                     book_it                             0.916031
                                      contact_me                          1.350154
                                      instant_book                        0.020216
1               0                     book_it                             0.391676
                                      contact_me                          0.718684
                                      instant_book                        0.042868
                1                     book_it                             0.584174
                                      contact_me                          1.063655
                                      instant_book                        0.047009

                                                             room_apt_flag  \
br_country_flag location_unknown_flag contact_channel_first
0               0                     book_it                     0.734708
                                      contact_me                  0.795742
                                      instant_book                0.739056
                1                     book_it                     0.673027
                                      contact_me                  0.729531
                                      instant_book                0.667116
1               0                     book_it                     0.788344
                                      contact_me                  0.809951
                                      instant_book                0.776792
                1                     book_it                     0.747020
                                      contact_me                  0.756303
                                      instant_book                0.720085

                                                             room_private_flag  \
br_country_flag location_unknown_flag contact_channel_first
0               0                     book_it                         0.249747
                                      contact_me                      0.184410
                                      instant_book                    0.252052
                1                     book_it                         0.290872
                                      contact_me                      0.237351
                                      instant_book                    0.313342
1               0                     book_it                         0.192740
                                      contact_me                      0.171845
                                      instant_book                    0.209165
                1                     book_it                         0.229801
                                      contact_me                      0.214548
                                      instant_book                    0.264957

                                                             room_shared_flag
br_country_flag location_unknown_flag contact_channel_first
0               0                     book_it                        0.015546
                                      contact_me                     0.019848
                                      instant_book                   0.008892
                1                     book_it                        0.036101
                                      contact_me                     0.033119
                                      instant_book                   0.019542
1               0                     book_it                        0.018916
                                      contact_me                     0.018204
                                      instant_book                   0.014043
                1                     book_it                        0.023179
                                      contact_me                     0.029149
                                      instant_book                   0.014957

In [257]:
contacts_all_v3.groupby(['listing_neighborhood']).mean()

,m_guests,m_interactions,m_first_message_length_in_characters,words_in_user_profile,total_reviews,total_reviews_pos,book_flag,book_2_check_in_days,interact_2_check_in_days,stay_duration_days,interact_2_reply_days,interact_2_book_in_days,location_unknown_flag,br_country_flag,room_apt_flag,room_private_flag,room_shared_flag,new_user_flag,contact_me_flag
listing_neighborhood,,,,,,,,,,,,,,,,,,,
-unknown-,2.816302,8.003544,192.001603,9.545102,8.202683,8.319298,0.362164,55.462022,73.474475,7.975276,0.802286,0.569897,1.0,0.527719,0.722555,0.249515,0.027930,0.600878,0.504768
Abolição,3.000000,5.000000,123.000000,0.000000,1.000000,1.000000,1.000000,74.000000,74.000000,13.000000,0.000000,0.000000,0.0,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
Andaraí,2.000000,7.333333,176.500000,26.833333,1.333333,1.333333,0.666667,86.500000,89.666667,2.333333,0.333333,0.000000,0.0,0.500000,0.333333,0.666667,0.000000,0.500000,0.333333
Barra da Tijuca,3.045908,7.978044,178.698603,6.352295,7.341317,7.393214,0.364271,61.597260,86.978044,7.752495,0.540021,0.657534,0.0,0.659681,0.837325,0.155689,0.006986,0.655689,0.529940
Barros Filho,2.000000,7.800000,147.400000,0.200000,0.000000,0.000000,0.000000,NaN,110.000000,17.600000,1.400000,NaN,0.0,0.200000,1.000000,0.000000,0.000000,0.800000,0.800000
Benfica,2.000000,4.500000,66.000000,0.000000,3.000000,3.000000,0.500000,97.000000,91.500000,2.500000,0.000000,0.000000,0.0,1.000000,0.500000,0.500000,0.000000,0.000000,0.500000
Bonsucesso,1.666667,2.333333,188.000000,0.333333,0.333333,0.333333,0.000000,NaN,36.333333,12.000000,1.500000,NaN,0.0,0.666667,0.333333,0.333333,0.333333,1.000000,0.666667
Botafogo,2.298013,7.864901,212.150993,10.348344,17.962914,17.962914,0.403974,49.691803,64.798675,10.214570,0.603086,0.468852,0.0,0.500662,0.662252,0.317881,0.019868,0.525828,0.449007
Brás de Pina,3.833333,5.000000,126.833333,8.833333,0.166667,0.166667,0.000000,NaN,64.833333,5.666667,0.666667,NaN,0.0,0.666667,0.166667,0.166667,0.666667,0.833333,1.000000
Catete,2.259259,8.166667,212.814815,10.555556,9.157407,9.157407,0.342593,48.027027,73.009259,7.287037,0.484848,0.567568,0.0,0.574074,0.675926,0.324074,0.000000,0.537037,0.518519
Catumbi,2.250000,12.250000,42.000000,24.250000,2.750000,2.750000,0.750000,73.333333,56.750000,8.250000,0.000000,0.000000,0.0,0.750000,0.250000,0.250000,0.500000,0.750000,0.250000
Centro,1.991736,8.198347,215.314050,15.000000,11.785124,11.785124,0.512397,35.580645,48.107438,5.231405,0.383929,0.629032,0.0,0.520661,0.504132,0.454545,0.041322,0.487603,0.404959
Cidade Nova,1.250000,6.500000,348.500000,0.000000,0.000000,0.000000,0.250000,40.000000,17.750000,16.000000,0.250000,0.000000,0.0,0.500000,0.500000,0.500000,0.000000,0.750000,0.750000
Coelho Neto,2.000000,3.000000,0.000000,0.000000,1.000000,1.000000,0.000000,NaN,97.000000,2.000000,1.000000,NaN,0.0,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000
Copacabana,2.919051,8.426779,197.037184,10.461515,22.259832,22.272686,0.440398,50.451008,70.130528,6.804438,0.412406,0.362057,0.0,0.441163,0.829533,0.159143,0.011324,0.572762,0.443458
Cosme Velho,2.210526,9.552632,165.921053,28.421053,7.763158,7.763158,0.552632,44.809524,47.026316,5.210526,0.277778,0.666667,0.0,0.605263,0.526316,0.342105,0.131579,0.526316,0.394737
Del Castilho,2.333333,9.333333,148.666667,0.666667,0.666667,0.666667,0.666667,58.500000,39.666667,4.000000,0.333333,0.000000,0.0,1.000000,1.000000,0.000000,0.000000,1.000000,0.333333
Encantado,3.000000,4.500000,140.000000,0.500000,0.000000,0.000000,0.000000,NaN,82.000000,5.000000,0.500000,NaN,0.0,0.500000,0.000000,1.000000,0.000000,0.000000,0.500000
Engenho Novo,1.250000,6.750000,285.750000,0.625000,2.750000,2.750000,0.250000,41.500000,78.500000,14.625000,0.400000,0.500000,0.0,0.500000,0.125000,0.875000,0.000000,0.875000,0.750000
Engenho da Rainha,4.000000,1.000000,120.000000,1.000000,0.000000,0.000000,0.000000,NaN,24.000000,4.000000,NaN,NaN,0.0,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000
Engenho de Dentro,2.416667,6.833333,133.416667,1.333333,1.750000,1.750000,0.500000,40.833333,62.583333,5.250000,0.000000,0.000000,0.0,0.666667,0.333333,0.666667,0.000000,0.500000,0.416667
Estacio,2.735294,7.029412,158.470588,8.205882,12.794118,12.794118,0.617647,49.904762,69.000000,7.088235,0.258065,0.571429,0.0,0.676471,0.735294,0.235294,0.029412,0.617647,0.294118
Flamengo,2.300654,8.736383,181.348584,9.496732,25.320261,26.518519,0.488017,45.312500,58.566449,8.098039,0.447796,0.375000,0.0,0.603486,0.551198,0.431373,0.017429,0.509804,0.374728
Gamboa,1.000000,5.800000,137.800000,101.600000,9.400000,9.400000,0.200000,72.000000,21.400000,12.000000,0.200000,0.000000,0.0,0.400000,0.000000,0.600000,0.400000,0.800000,0.600000
Glória,2.539062,9.125000,215.031250,7.718750,29.140625,29.140625,0.429688,38.818182,53.710938,10.898438,0.285714,0.272727,0.0,0.515625,0.632812,0.296875,0.070312,0.554688,0.453125
Grajaú,2.153846,6.692308,270.769231,13.923077,2.000000,2.000000,0.307692,75.000000,75.384615,13.692308,0.600000,0.500000,0.0,0.538462,0.461538,0.461538,0.076923,0.769231,0.692308
Guadalupe,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,5.000000,6.000000,NaN,NaN,0.0,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000
Gávea,3.183908,11.643678,220.241379,16.942529,4.402299,4.402299,0.413793,44.888889,60.252874,11.908046,0.414634,0.694444,0.0,0.574713,0.804598,0.195402,0.000000,0.471264,0.528736
Humaitá,2.500000,8.100000,187.266667,11.150000,3.283333,3.283333,0.466667,64.928571,65.233333,9.266667,0.620690,0.535714,0.0,0.500000,0.616667,0.383333,0.000000,0.450000,0.416667
Ipanema,2.853000,8.212333,189.160000,11.664000,27.582000,27.796667,0.472000,48.171610,64.758667,6.304333,0.325548,0.403955,0.0,0.368333,0.864000,0.129000,0.007000,0.495667,0.382000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Madureira,1.000000,16.000000,324.000000,0.000000,1.000000,1.000000,0.000000,NaN,10.000000,6.000000,0.000000,NaN,0.0,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
Maracanã,2.250000,6.218750,156.656250,3.937500,1.062500,1.062500,0.531250,81.764706,95.125000,9.812500,0.142857,0.294118,0.0,0.625000,0.343750,0.562500,0.093750,0.531250,0.375000
Marechal Hermes,1.000000,5.000000,490.000000,0.000000,0.000000,0.000000,0.000000,NaN,113.000000,3.000000,0.000000,NaN,0.0,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000
Méier,1.800000,5.200000,216.500000,7.900000,-6.600000,7.200000,0.700000,42.714286,63.500000,7.500000,1.000000,0.285714,0.0,0.200000,0.500000,0.200000,0.300000,0.500000,0.300000
Olaria,1.000000,7.000000,26.000000,45.000000,0.000000,0.000000,0.000000,NaN,1.000000,1.000000,3.000000,NaN,0.0,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000
Parada de Lucas,1.000000,19.000000,88.400000,6.800000,3.000000,3.000000,0.600000,45.333333,27.800000,5.200000,0.000000,0.000000,0.0,0.200000,0.000000,1.000000,0.000000,0.800000,0.400000
Penha,1.500000,6.875000,156.625000,17.375000,3.000000,3.000000,0.250000,131.000000,69.375000,11.375000,0.285714,0.000000,0.0,0.375000,0.250000,0.750000,0.000000,0.750000,0.500000
Penha Circular,6.000000,3.375000,154.875000,8.250000,2.750000,2.750000,0.000000,NaN,97.375000,8.375000,0.875000,NaN,0.0,0.125000,0.875000,0.125000,0.000000,0.500000,0.625000
Praça da Bandeira,2.925926,9.333333,192.851852,12.925926,7.407407,7.407407,0.407407,44.727273,69.888889,8.407407,0.166667,0.090909,0.0,0.444444,0.444444,0.555556,0.000000,0.481481,0.296296
Quintino Bocaiúva,5.000000,8.000000,274.000000,0.000000,0.000000,0.000000,0.000000,NaN,94.000000,1.000000,0.000000,NaN,0.0,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000
Ramos,1.800000,7.200000,92.000000,4.200000,1.800000,1.800000,0.600000,9.666667,9.400000,2.200000,0.000000,0.000000,0.0,0.600000,0.600000,0.400000,0.000000,0.800000,0.000000
Recreio dos Bandeirantes,2.995763,8.800847,192.398305,9.699153,2.305085,2.500000,0.394068,68.129032,82.139831,8.652542,0.703196,0.494624,0.0,0.644068,0.775424,0.203390,0.021186,0.690678,0.495763
Riachuelo,2.000000,7.333333,153.000000,0.333333,0.000000,0.000000,0.333333,206.000000,81.666667,10.000000,0.666667,0.000000,0.0,0.333333,0.333333,0.000000,0.666667,1.000000,0.333333
Rio Comprido,2.333333,6.666667,243.962963,15.481481,2.481481,2.481481,0.296296,78.000000,81.074074,11.185185,2.173913,0.875000,0.0,0.555556,0.370370,0.629630,0.000000,0.703704,0.518519
Rocha,2.750000,13.000000,163.250000,2.166667,0.500000,0.500000,0.333333,113.750000,79.416667,9.166667,0.363636,0.250000,0.0,0.666667,0.833333,0.166667,0.000000,0.666667,0.583333
Rocinha,1.000000,1.000000,188.000000,0.000000,0.000000,0.000000,0.000000,NaN,6.000000,5.000000,NaN,NaN,0.0,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000
Sampaio,1.000000,4.000000,8.000000,1.000000,0.000000,0.000000,1.000000,36.000000,36.000000,7.000000,0.000000,0.000000,0.0,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000
Santa Teresa,2.035775,9.175468,228.744463,16.838160,35.332198,35.563884,0.606474,40.199438,50.875639,8.356048,0.847636,0.230337,0.0,0.299830,0.473595,0.483816,0.042589,0.419080,0.321976
Santo Cristo,2.727273,7.272727,197.909091,17.545455,3.818182,3.818182,0.727273,64.750000,55.454545,3.090909,0.222222,0.000000,0.0,0.181818,0.000000,0.727273,0.272727,0.272727,0.272727
Saúde,1.500000,9.000000,122.500000,40.750000,9.000000,9.000000,1.000000,21.500000,21.500000,5.250000,0.000000,0.000000,0.0,0.500000,0.000000,1.000000,0.000000,0.750000,0.000000
São Conrado,3.500000,8.800000,217.625000,31.175000,3.050000,3.050000,0.450000,54.666667,81.450000,7.725000,0.162162,0.666667,0.0,0.450000,0.675000,0.275000,0.050000,0.600000,0.450000
São Cristóvão,2.941176,5.529412,238.000000,10.764706,25.294118,25.294118,0.352941,82.000000,115.470588,6.000000,7.823529,0.166667,0.0,0.529412,0.529412,0.470588,0.000000,0.764706,0.647059
Tijuca,1.963303,8.174312,233.266055,9.834862,3.495413,3.825688,0.440367,65.416667,72.779817,14.825688,0.309278,0.291667,0.0,0.605505,0.302752,0.669725,0.027523,0.678899,0.504587
Todos os Santos,1.600000,12.000000,147.200000,4.200000,1.200000,1.200000,0.800000,95.500000,95.400000,5.600000,0.000000,0.000000,0.0,0.400000,0.200000,0.800000,0.000000,0.200000,0.200000
Urca,2.384615,12.051282,216.192308,17.166667,20.589744,20.589744,0.615385,52.041667,50.307692,8.512821,0.080000,0.166667,0.0,0.307692,0.807692,0.192308,0.000000,0.384615,0.256410
Vaz Lobo,1.000000,1.000000,120.000000,31.000000,1.000000,1.000000,0.000000,NaN,46.000000,5.000000,NaN,NaN,0.0,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000
Vidigal,2.201923,9.384615,272.038462,19.086538,47.701923,47.701923,0.528846,87.363636,86.615385,8.461538,0.180000,0.181818,0.0,0.163462,0.740385,0.221154,0.038462,0.442308,0.346154
Vigário Geral,2.000000,2.000000,329.000000,0.000000,0.000000,0.000000,0.000000,NaN,65.000000,5.000000,23.000000,NaN,0.0,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000
Vila Isabel,2.274510,8.529412,190.117647,7.294118,2.509804,2.509804,0.313725,46.937500,66.627451,8.372549,0.465116,0.187500,0.0,0.588235,0.274510,0.490196,0.235294,0.607843,0.568627
Vila da Penha,1.000000,1.000000,820.000000,0.000000,0.000000,0.000000,0.000000,NaN,98.000000,5.000000,NaN,NaN,0.0,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000

# Overall, brasilians contact more

In [165]:
contacts_all_v3.groupby(['br_country_flag','room_type','contact_channel_first']).count()

                                                       id_guest_anon  \
br_country_flag room_type       contact_channel_first
0               Entire home/apt book_it                         3479
                                contact_me                      3791
                                instant_book                    3151
                Private room    book_it                         1303
                                contact_me                      1027
                                instant_book                    1202
                Shared room     book_it                          116
                                contact_me                       127
                                instant_book                      55
1               Entire home/apt book_it                         2670
                                contact_me                      6217
                                instant_book                    1725
                Private room    book_it                          724
                                contact_me                      1525
                                instant_book                     531
                Shared room     book_it                           72
                                contact_me                       186
                                instant_book                      33

                                                       id_host_anon  \
br_country_flag room_type       contact_channel_first
0               Entire home/apt book_it                        3479
                                contact_me                     3791
                                instant_book                   3151
                Private room    book_it                        1303
                                contact_me                     1027
                                instant_book                   1202
                Shared room     book_it                         116
                                contact_me                      127
                                instant_book                     55
1               Entire home/apt book_it                        2670
                                contact_me                     6217
                                instant_book                   1725
                Private room    book_it                         724
                                contact_me                     1525
                                instant_book                    531
                Shared room     book_it                          72
                                contact_me                      186
                                instant_book                     33

                                                       id_listing_anon  \
br_country_flag room_type       contact_channel_first
0               Entire home/apt book_it                           3479
                                contact_me                        3791
                                instant_book                      3151
                Private room    book_it                           1303
                                contact_me                        1027
                                instant_book                      1202
                Shared room     book_it                            116
                                contact_me                         127
                                instant_book                        55
1               Entire home/apt book_it                           2670
                                contact_me                        6217
                                instant_book                      1725
                Private room    book_it                            724
                                contact_me                        1525
                                instant_book                       531
                Shared room     book_it                             72
                                contact_me                         186
                                instant_book                        33

                                                       ts_interaction_first  \
br_country_flag room_type       contact_channel_first
0               Entire home/apt book_it                                3479
                                contact_me                             3791
                                instant_book                           3151
                Private room    book_it                                1303
                                contact_me                             1027
                                instant_book                           1202
                Shared room     book_it                                 116
                                contact_me                              127
                                instant_book                             55
1               Entire home/apt book_it                                2670
                                contact_me                             6217
                                instant_book                           1725
                Private room    book_it                                 724
                                contact_me                             1525
                                instant_book                            531
                Shared room     book_it                                  72
                                contact_me                              186
                                instant_book                             33

                                                       ts_reply_at_first  \
br_country_flag room_type       contact_channel_first
0               Entire home/apt book_it                             3181
                                contact_me                          3441
                                instant_book                        3151
                Private room    book_it                             1169
                                contact_me                           930
                                instant_book                        1202
                Shared room     book_it                              106
                                contact_me                           114
                                instant_book                          55
1               Entire home/apt book_it                             2337
                                contact_me                          5630
                                instant_book                        1725
                Private room    book_it                              643
                                contact_me                          1415
                                instant_book                         531
                Shared room     book_it                               63
                                contact_me                           164
                                instant_book                          33

                                                       ts_accepted_at_first  \
br_country_flag room_type       contact_channel_first
0               Entire home/apt book_it                                1867
                                contact_me                             1754
                                instant_book                           3151
                Private room    book_it                                 723
                                contact_me                              503
                                instant_book                           1202
                Shared room     book_it                                  65
                                contact_me                               59
                                instant_book                             55
1               Entire home/apt book_it                                1177
                                contact_me                             2439
                                instant_book                           1725
                Private room    book_it                                 367
                                contact_me                              650
                                instant_book                            531
                Shared room     book_it                                  32
                                contact_me                               79
                                instant_book                             33

                                                       ts_booking_at  \
br_country_flag room_type       contact_channel_first
0               Entire home/apt book_it                         1762
                                contact_me                       326
                                instant_book                    3151
                Private room    book_it                          686
                                contact_me                        98
                                instant_book                    1202
                Shared room     book_it                           58
                                contact_me                         8
                                instant_book                      55
1               Entire home/apt book_it                         1089
                                contact_me                       359
                                instant_book                    1725
                Private room    book_it                          349
                                contact_me                        97
                                instant_book                     531
                Shared room     book_it                           29
                                contact_me                         8
                                instant_book                      33

                                                       ds_checkin_first  \
br_country_flag room_type       contact_channel_first
0               Entire home/apt book_it                            3479
                                contact_me                         3791
                                instant_book                       3151
                Private room    book_it                            1303
                                contact_me                         1027
                                instant_book                       1202
                Shared room     book_it                             116
                                contact_me                          127
                                instant_book                         55
1               Entire home/apt book_it                            2670
                                contact_me                         6217
                                instant_book                       1725
                Private room    book_it                             724
                                contact_me                         1525
                                instant_book                        531
                Shared room     book_it                              72
                                contact_me                          186
                                instant_book                         33

                                                       ds_checkout_first  \
br_country_flag room_type       contact_channel_first
0               Entire home/apt book_it                             3479
                                contact_me                          3791
                                instant_book                        3151
                Private room    book_it                             1303
                                contact_me                          1027
                                instant_book                        1202
                Shared room     book_it                              116
                                contact_me                           127
                                instant_book                          55
1               Entire home/apt book_it                             2670
                                contact_me                          6217
                                instant_book                        1725
                Private room    book_it                              724
                                contact_me                          1525
                                instant_book                         531
                Shared room     book_it                               72
                                contact_me                           186
                                instant_book                          33

                                                       m_guests  \
br_country_flag room_type       contact_channel_first
0               Entire home/apt book_it                    3479
                                contact_me                 3791
                                instant_book               3151
                Private room    book_it                    1303
                                contact_me                 1027
                                instant_book               1202
                Shared room     book_it                     116
                                contact_me                  127
                                instant_book                 55
1               Entire home/apt book_it                    2670
                                contact_me                 6217
                                instant_book               1725
                Private room    book_it                     724
                                contact_me                 1525
                                instant_book                531
                Shared room     book_it                      72
                                contact_me                  186
                                instant_book                 33

                                                             ...         \
br_country_flag room_type       contact_channel_first        ...
0               Entire home/apt book_it                      ...
                                contact_me                   ...
                                instant_book                 ...
                Private room    book_it                      ...
                                contact_me                   ...
                                instant_book                 ...
                Shared room     book_it                      ...
                                contact_me                   ...
                                instant_book                 ...
1               Entire home/apt book_it                      ...
                                contact_me                   ...
                                instant_book                 ...
                Private room    book_it                      ...
                                contact_me                   ...
                                instant_book                 ...
                Shared room     book_it                      ...
                                contact_me                   ...
                                instant_book                 ...

                                                       total_reviews_pos  \
br_country_flag room_type       contact_channel_first
0               Entire home/apt book_it                             3479
                                contact_me                          3791
                                instant_book                        3151
                Private room    book_it                             1303
                                contact_me                          1027
                                instant_book                        1202
                Shared room     book_it                              116
                                contact_me                           127
                                instant_book                          55
1               Entire home/apt book_it                             2670
                                contact_me                          6217
                                instant_book                        1725
                Private room    book_it                              724
                                contact_me                          1525
                                instant_book                         531
                Shared room     book_it                               72
                                contact_me                           186
                                instant_book                          33

                                                       book_flag  \
br_country_flag room_type       contact_channel_first
0               Entire home/apt book_it                     3479
                                contact_me                  3791
                                instant_book                3151
                Private room    book_it                     1303
                                contact_me                  1027
                                instant_book                1202
                Shared room     book_it                      116
                                contact_me                   127
                                instant_book                  55
1               Entire home/apt book_it                     2670
                                contact_me                  6217
                                instant_book                1725
                Private room    book_it                      724
                                contact_me                  1525
                                instant_book                 531
                Shared room     book_it                       72
                                contact_me                   186
                                instant_book                  33

                                                       book_2_check_in_days  \
br_country_flag room_type       contact_channel_first
0               Entire home/apt book_it                                1762
                                contact_me                              326
                                instant_book                           3151
                Private room    book_it                                 686
                                contact_me                               98
                                instant_book                           1202
                Shared room     book_it                                  58
                                contact_me                                8
                                instant_book                             55
1               Entire home/apt book_it                                1089
                                contact_me                              359
                                instant_book                           1725
                Private room    book_it                                 349
                                contact_me                               97
                                instant_book                            531
                Shared room     book_it                                  29
                                contact_me                                8
                                instant_book                             33

                                                       interact_2_check_in_days  \
br_country_flag room_type       contact_channel_first
0               Entire home/apt book_it                                    3479
                                contact_me                                 3791

In [130]:
 contacts_all_v2.groupby(['room_type']).mean()

,m_guests,m_interactions,m_first_message_length_in_characters,words_in_user_profile,total_reviews,total_reviews_pos,book_flag,book_2_check_in_days,interact_2_check_in_days,stay_duration_days,interact_2_reply_days
room_type,,,,,,,,,,,
Entire home/apt,3.128120,8.291229,188.203043,9.138198,15.288804,15.394913,0.399952,55.001189,73.699073,7.614690,0.548364
Private room,1.696024,8.104213,212.114349,13.736142,17.817548,18.003168,0.469433,45.150472,58.411783,7.384226,0.765784
Shared room,2.147458,7.535593,199.030508,10.067797,4.066102,4.123729,0.323729,53.209424,66.722034,7.396610,1.001866

#### Quickly explore if Brasilians book more than 1 place and then cancel 
The answer is that the value is very similar and I would not attribute it to that

In [206]:
from pandasql import sqldf

In [207]:
pysqldf = lambda q: sqldf(q, globals())

In [215]:
q = """SELECT  id_guest_anon, ds_checkin_first, max(br_country_flag) br_country_flag, count(distinct id_listing_anon)as m_count \
FROM contacts_all_v3 group by id_guest_anon, ds_checkin_first """
abc = pysqldf(q)

In [ ]:
q2 = """SELECT br_country_flag, m_count, count(*) \
FROM abc group by br_country_flag,  m_count order by br_country_flag,  m_count DESC"""
pysqldf(q2)

In [217]:
q2 = """SELECT br_country_flag, case when m_count = 1 then 0 else 1 end more_1, count(*) \
FROM abc group by br_country_flag,  case when m_count = 1 then 0 else 1 end order by br_country_flag,  case when m_count = 1 then 0 else 1 end DESC"""
pysqldf(q2)

   br_country_flag  more_1  count(*)
0                0       1      1373
1                0       0     11038
2                1       1      1568
3                1       0      9890

In [293]:
q3 = """SELECT book_flag, br_country_flag, count(*) \
FROM contacts_all_v3 where words_in_user_profile = 0 and new_user_flag = 0 and contact_me_flag = 1 group by book_flag, br_country_flag"""
pysqldf(q3)

   book_flag  br_country_flag  count(*)
0          0                0       673
1          0                1       897
2          1                0        79
3          1                1        70

In [292]:
q4 = """SELECT book_flag, br_country_flag, count(*) \
FROM contacts_all_v3 where new_user_flag = 0 and contact_me_flag = 1 group by book_flag,br_country_flag"""
pysqldf(q4)

   book_flag  br_country_flag  count(*)
0          0                0      1808
1          0                1      1871
2          1                0       218
3          1                1       146

### Model

In [118]:
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics 
from sklearn.metrics import classification_report

C:\Program Files\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [286]:
 contacts_all_v3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27934 entries, 0 to 27933
Data columns (total 34 columns):
id_guest_anon                           27934 non-null object
id_host_anon                            27934 non-null object
id_listing_anon                         27934 non-null object
ts_interaction_first                    27934 non-null object
ts_reply_at_first                       25890 non-null object
ts_accepted_at_first                    16412 non-null object
ts_booking_at                           11566 non-null object
ds_checkin_first                        27934 non-null object
ds_checkout_first                       27934 non-null object
m_guests                                27934 non-null float64
m_interactions                          27934 non-null int64
m_first_message_length_in_characters    27934 non-null float64
contact_channel_first                   27934 non-null object
guest_user_stage_first                  27934 non-null object
id_user_anon                            27934 non-null object
country                                 27933 non-null object
words_in_user_profile                   27934 non-null int64
room_type                               27934 non-null object
listing_neighborhood                    27934 non-null object
total_reviews                           27934 non-null float64
total_reviews_pos                       27934 non-null float64
book_flag                               27934 non-null int64
book_2_check_in_days                    11566 non-null float64
interact_2_check_in_days                27934 non-null int64
stay_duration_days                      27934 non-null int64
interact_2_reply_days                   25890 non-null float64
interact_2_book_in_days                 11566 non-null float64
location_unknown_flag                   27934 non-null int64
br_country_flag                         27934 non-null int64
room_apt_flag                           27934 non-null int64
room_private_flag                       27934 non-null int64
room_shared_flag                        27934 non-null int64
new_user_flag                           27934 non-null int64
contact_me_flag                         27934 non-null int64
dtypes: float64(7), int64(12), object(15)
memory usage: 7.2+ MB

#### What Impacts Booking?
All Users

In [219]:
X =  contacts_all_v3[['contact_me_flag','new_user_flag','br_country_flag','location_unknown_flag','m_interactions','m_first_message_length_in_characters','m_guests','words_in_user_profile','room_apt_flag','room_private_flag','total_reviews_pos','interact_2_check_in_days','stay_duration_days']]
y = contacts_all_v3['book_flag']

In [220]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .3, random_state=25)

In [221]:
total = X.isnull().sum().sort_values(ascending = False)
percent = (X.isnull().sum()/X.isnull().count()*100).sort_values(ascending = False)
missing_contacts  = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_contacts.head(20)

                                      Total  Percent
stay_duration_days                        0      0.0
interact_2_check_in_days                  0      0.0
total_reviews_pos                         0      0.0
room_private_flag                         0      0.0
room_apt_flag                             0      0.0
words_in_user_profile                     0      0.0
m_guests                                  0      0.0
m_first_message_length_in_characters      0      0.0
m_interactions                            0      0.0
location_unknown_flag                     0      0.0
br_country_flag                           0      0.0
new_user_flag                             0      0.0
contact_me_flag                           0      0.0

In [222]:
LogReg = LogisticRegression()
LogReg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [224]:
y_pred = LogReg.predict(X_test)

In [225]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
confusion_matrix

array([[4231,  598],
       [ 506, 3046]], dtype=int64)

In [226]:
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.89      0.88      0.88      4829
          1       0.84      0.86      0.85      3552

avg / total       0.87      0.87      0.87      8381

In [227]:
# examine the coefficients
pd.DataFrame(list(zip(X.columns, np.transpose(LogReg.coef_))))

                                       0                         1
0                        contact_me_flag     [-3.6916352088130915]
1                          new_user_flag    [-0.17481105582023848]
2                        br_country_flag     [-0.4091219692434835]
3                  location_unknown_flag   [-0.027358793098680823]
4                         m_interactions      [0.2123524918073225]
5   m_first_message_length_in_characters  [-0.0005528026690888459]
6                               m_guests   [-0.048911079777550534]
7                  words_in_user_profile   [0.0002113149186211171]
8                          room_apt_flag    [0.042928435199020246]
9                      room_private_flag     [0.12936798408461705]
10                     total_reviews_pos    [0.018582926382815314]
11              interact_2_check_in_days   [-0.004755524170973826]
12                    stay_duration_days    [-0.05205050359092526]

#### What defines a Brazilian?

In [258]:
X2 =  contacts_all_v3[['book_flag','contact_me_flag','new_user_flag','location_unknown_flag','m_interactions','m_first_message_length_in_characters','m_guests','words_in_user_profile','room_apt_flag','room_private_flag','total_reviews_pos','interact_2_check_in_days','stay_duration_days']]
y2 = contacts_all_v3['br_country_flag']

In [259]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size = .3, random_state=25)

In [260]:
LogReg2 = LogisticRegression()
LogReg2.fit(X_train2, y_train2)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [263]:
y_pred2 = LogReg2.predict(X_test2)

In [265]:
from sklearn.metrics import confusion_matrix
confusion_matrix2 = confusion_matrix(y_test2, y_pred2)
confusion_matrix2

array([[2942, 1353],
       [1282, 2804]], dtype=int64)

In [267]:
print(classification_report(y_test2, y_pred2))

             precision    recall  f1-score   support

          0       0.70      0.68      0.69      4295
          1       0.67      0.69      0.68      4086

avg / total       0.69      0.69      0.69      8381

In [268]:
# examine the coefficients
pd.DataFrame(list(zip(X2.columns, np.transpose(LogReg2.coef_))))

                                       0                         1
0                              book_flag    [-0.34201324930188415]
1                        contact_me_flag      [0.8519732109502396]
2                          new_user_flag      [0.8064358076108182]
3                  location_unknown_flag     [0.10082447292492748]
4                         m_interactions   [-0.007633085505490978]
5   m_first_message_length_in_characters  [-0.0032097730588358606]
6                               m_guests    [0.057998247521943554]
7                  words_in_user_profile   [-0.004507536320170442]
8                          room_apt_flag     [0.19906801050853667]
9                      room_private_flag      [0.1344828056317339]
10                     total_reviews_pos   [-0.004954566784209933]
11              interact_2_check_in_days   [-0.002051140877476678]
12                    stay_duration_days   [-0.013971190160498262]

### Keep just Brazilians
Check the booking impact

In [272]:
contacts_all_v3_br = contacts_all_v3[contacts_all_v3['br_country_flag'] == 1]

In [275]:
X3 =  contacts_all_v3_br[['contact_me_flag','new_user_flag','location_unknown_flag','m_interactions','m_first_message_length_in_characters','m_guests','words_in_user_profile','room_apt_flag','room_private_flag','total_reviews_pos','interact_2_check_in_days','stay_duration_days']]
y3 = contacts_all_v3_br['book_flag']

In [276]:
X_train3, X_test3, y_train3, y_test3 = train_test_split(X3, y3, test_size = .3, random_state=25)

In [277]:
LogReg3 = LogisticRegression()
LogReg3.fit(X_train3, y_train3)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [278]:
y_pred3 = LogReg3.predict(X_test3)

In [280]:
confusion_matrix3 = confusion_matrix(y_test3, y_pred3)
confusion_matrix3

array([[2567,  287],
       [ 237, 1014]], dtype=int64)

In [281]:
print(classification_report(y_test3, y_pred3))

             precision    recall  f1-score   support

          0       0.92      0.90      0.91      2854
          1       0.78      0.81      0.79      1251

avg / total       0.87      0.87      0.87      4105

In [282]:
# examine the coefficients
pd.DataFrame(list(zip(X3.columns, np.transpose(LogReg3.coef_))))

                                       0                          1
0                        contact_me_flag       [-3.727980057086825]
1                          new_user_flag      [-0.2802596825210466]
2                  location_unknown_flag     [0.007394300562890962]
3                         m_interactions      [0.16178508753142082]
4   m_first_message_length_in_characters  [-0.00027934023201824586]
5                               m_guests      [-0.0677917224496325]
6                  words_in_user_profile   [-0.0003239430472334989]
7                          room_apt_flag      [0.04317297035229868]
8                      room_private_flag      [0.15169835593109418]
9                      total_reviews_pos     [0.016152795701454573]
10              interact_2_check_in_days    [-0.004778881598572779]
11                    stay_duration_days     [-0.04807451054195284]